@import 'node_modules/mapbox-gl/dist/mapbox-gl';

.address {
  position: absolute;
  z-index: 5;
  top: 180px;
  right: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  padding: $primary-gutter;

  background-color: palette(brown, base);

  justify-content: center;

  @media #{$mq-mobile-xlarge-up} {
    top: 0;
    width: 275px;
    height: 100%;
    padding:calc(#{$primary-gutter} * 1.5) calc(#{$primary-gutter} * 2);
  }

  span {
    display: block;

    @extend %typography-small-section-text;

    &.phone-number {
      margin-top: $primary-gutter;
    }

    a {
      text-decoration: none;

      color: palette(gold, process);
    }
  }

  h3 {
    width: 100%;
    margin: 0 0 $primary-gutter 0;
    padding: 0;
  }
}

.contact {
  @extend .product-detail;

  details.gold {
    margin-bottom: 0;

    &[open] {
      > summary {
        border-bottom: 2px solid palette(gold, process);
      }
    }
  }

  .link {
    @extend %typography-small-section-link-invert;
  }

  p a {
    color: palette(gold, process);
  }

  .institutional__block--vert, .institutional__block--vert:last-child {
    flex:  1 0 calc(50% - #{$half-gutter});

    padding-left: 0;

    &.pad-adjust {
      padding-right: 0;
    }

    @media #{$mq-desktop-small-up} {
      flex: 1;

      &.pad-adjust {
        padding-right: $primary-gutter;
      }
    }

    .institutional__block--border {
      margin-bottom: $primary-gutter;

      border-color: palette(gray, pale);
    }
  }

  .institutional__block-wrap {
    flex-wrap: wrap;
  }
}

#map {
  overflow: hidden;
  height: 360px;
  padding-bottom: 180px;
  
  @media #{$mq-mobile-xlarge-up} {
    margin-bottom: 0;
  }
}