@import 'node_modules/mapbox-gl/dist/mapbox-gl';

.address {
  position: absolute;
  background-color: palette(brown, base);
  padding: $primary-gutter;
  z-index: 5;
  right: 0;
  width: 100%;
  top: 250px;

  @media #{$mq-mobile-xlarge-up} {
    height: 100%;
    width: 275px;
    top: 0;
    padding: calc(#{$primary-gutter} * 2);
  }

  span {
    display: block;
    @extend %typography-small-section-text;

    &.phone-number {
      margin-top: $primary-gutter;
    }

    a {
      color: palette(gold, process);
      text-decoration: none;
    }
  }

  h3 {
    margin: 0 0 $primary-gutter 0;
    padding: 0;
    width: 100%;
  }
}

.contact {
	@extend .product-detail;

	details.gold {
		margin-bottom: 0;

 		&[open] {
 			> summary {
	      border-bottom: 2px solid palette(gold, process);
	    }
 		}
  }

  .link {
  	@extend %typography-small-section-link-invert;
  }

  p a {
  	color: palette(gold, process);
  }

  .institutional__block--vert, .institutional__block--vert:last-child {
  	padding-left: 0;
  	flex:  1 0 calc(50% - #{$half-gutter});

  	&.pad-adjust {
   		padding-right: 0;
   	}

  	@media #{$mq-desktop-small-up} {
     	flex: 1;

     	&.pad-adjust {
     		padding-right: $primary-gutter;
     	}
    }

  	.institutional__block--border {
  		margin-bottom: $primary-gutter;
  		border-color: palette(gray, pale);
  	}
  }

  .institutional__block-wrap {
  	flex-wrap: wrap;
  }
}

#map {
  margin-bottom: 214px;
  overflow: visible;
  
  @media #{$mq-mobile-xlarge-up} {
    margin-bottom: 0;
  }
}