@import 'node_modules/mapbox-gl/dist/mapbox-gl';

.address {
  position: absolute;
  z-index: 5;
  top: 180px;
  right: 0;

  font-style: normal;

  display: flex;
  flex-direction: column;

  width: 100%;
  padding: $primary-gutter;

  background-color: palette(brown, base);

  justify-content: center;

  @media #{$mq-mobile-xlarge-up} {
    top: 0;
    width: 275px;
    height: 100%;
    padding:calc(#{$primary-gutter} * 1.5) calc(#{$primary-gutter} * 2);
  }

  span {
    display: block;

    @extend %typography-small-section-text;

    &.phone-number {
      margin-top: $primary-gutter;
    }

    a {
      text-decoration: none;

      color: palette(gold, process);
    }
  }

  h3 {
    width: 100%;
    margin: 0 0 $primary-gutter 0;
    padding: 0;
  }
}

#map {
  overflow: hidden;
  height: 360px;
  padding-bottom: 180px;
  
  @media #{$mq-mobile-xlarge-up} {
    margin-bottom: 0;
  }
}