include ../square/square
include ../diamond-list/diamond-list

mixin featured-image-text(baseUrl)
  section.featured-image-text
    .featured-image-text__featured-office
      img(src= baseUrl + 'images/private/private-trading-thumbnail.jpg')
    .featured-image-text__details
      .featured-image-text__titles
        h1.featured-image-text__title Our Services
        h2.featured-image-text__sub-title Private Trading
      .featured-image-text__description
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

