include ../textinput/textinput
include ../radiobutton/radiobutton
include ../button/button
include ../dropdown/dropdown
include ../tabs-list/tabs-list

mixin personalDetailsForm(baseUrl)
  .personal_form(id="formWrapper")
    h4.personal_form__header.success-only Success
    p.personal_form__text.success-only Thank you very much for applying for a live trading account. We are processing your application and will notify you as soon as the account is approved.
    +button()(class="button--green button--medium success-only")
      |Back to Private
    form.personal_form__form(id="personalDetailsForm" action="some/url/formendpoint")

      h1
      section.personal_form-section(data-index="0")
        h4.personal_form__header Personal Details
        p.personal_form__text Please ensure you state your name exactly as it appears on your passport or other photo ID.
        .personal_form__inputwrap
          h5.label Title:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss', 'Ms', 'Dr'])
        .personal_form__inputwrap
          h5.label First Name:
          +textinput({type: 'text', name: 'firstName'})
        .personal_form__inputwrap
          h5.label Surname:
          +textinput({type: 'text', name: 'surname'})
        .personal_form__inputwrap
          h5.label Date Of Birth:
          .personal_form__dropdownwrap
            input(type="date" date-format="mmmm/dd/yyyy")
        .personal_form__inputwrap
          h5.label Nationality:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ["Afghanistan","Aland Islands","Albania","Algeria","American Samoa","Andorra","Angola","Anguilla","Antarctica","Antigua And Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia And Herzegovina","Botswana","Bouvet Island","Brazil","British Indian Ocean Territory","Brunei Darussalam","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman Islands","Central African Republic","Chad","Chile","China","Christmas Island","Cocos (Keeling) Islands","Colombia","Comoros","Congo","Congo, Democratic Republic","Cook Islands","Costa Rica","Cote D'Ivoire","Croatia","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Eritrea","Estonia","Ethiopia","Falkland Islands (Malvinas)","Faroe Islands","Fiji","Finland","France","French Guiana","French Polynesia","French Southern Territories","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guadeloupe","Guam","Guatemala","Guernsey","Guinea","Guinea-Bissau","Guyana","Haiti","Heard Island &amp; Mcdonald Islands","Holy See (Vatican City State)","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran, Islamic Republic Of","Iraq","Ireland","Isle Of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kiribati","Korea","Kuwait","Kyrgyzstan","Lao People's Democratic Republic","Latvia","Lebanon","Lesotho","Liberia","Libyan Arab Jamahiriya","Liechtenstein","Lithuania","Luxembourg","Macao","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Marshall Islands","Martinique","Mauritania","Mauritius","Mayotte","Mexico","Micronesia, Federated States Of","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Myanmar","Namibia","Nauru","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","Niue","Norfolk Island","Northern Mariana Islands","Norway","Oman","Pakistan","Palau","Palestinian Territory, Occupied","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Pitcairn","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russian Federation","Rwanda","Saint Barthelemy","Saint Helena","Saint Kitts And Nevis","Saint Lucia","Saint Martin","Saint Pierre And Miquelon","Saint Vincent And Grenadines","Samoa","San Marino","Sao Tome And Principe","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","Solomon Islands","Somalia","South Africa","South Georgia And Sandwich Isl.","Spain","Sri Lanka","Sudan","Suriname","Svalbard And Jan Mayen","Swaziland","Sweden","Switzerland","Syrian Arab Republic","Taiwan","Tajikistan","Tanzania","Thailand","Timor-Leste","Togo","Tokelau","Tonga","Trinidad And Tobago","Tunisia","Turkey","Turkmenistan","Turks And Caicos Islands","Tuvalu","Uganda","Ukraine","United Arab Emirates","United Kingdom","United States","United States Outlying Islands","Uruguay","Uzbekistan","Vanuatu","Venezuela","Viet Nam","Virgin Islands, British","Virgin Islands, U.S.","Wallis And Futuna","Western Sahara","Yemen","Zambia","Zimbabwe"], ['AF','AX','AL','DZ','AS','AD','AO','AI','AQ','AG','AR','AM','AW','AU','AT','AZ','BS','BH','BD','BB','BY','BE','BZ','BJ','BM','BT','BO','BA','BW','BV','BR','IO','BN','BG','BF','BI','KH','CM','CA','CV','KY','CF','TD','CL','CN','CX','CC','CO','KM','CG','CD','CK','CR','CI','HR','CU','CY','CZ','DK','DJ','DM','DO','EC','EG','SV','GQ','ER','EE','ET','FK','FO','FJ','FI','FR','GF','PF','TF','GA','GM','GE','DE','GH','GI','GR','GL','GD','GP','GU','GT','GG','GN','GW','GY','HT','HM','VA','HN','HK','HU','IS','IN','ID','IR','IQ','IE','IM','IL','IT','JM','JP','JE','JO','KZ','KE','KI','KR','KW','KG','LA','LV','LB','LS','LR','LY','LI','LT','LU','MO','MK','MG','MW','MY','MV','ML','MT','MH','MQ','MR','MU','YT','MX','FM','MD','MC','MN','ME','MS','MA','MZ','MM','NA','NR','NP','NL','AN','NC','NZ','NI','NE','NG','NU','NF','MP','NO','OM','PK','PW','PS','PA','PG','PY','PE','PH','PN','PL','PT','PR','QA','RE','RO','RU','RW','BL','SH','KN','LC','MF','PM','VC','WS','SM','ST','SA','SN','RS','SC','SL','SG','SK','SI','SB','SO','ZA','GS','ES','LK','SD','SR','SJ','SZ','SE','CH','SY','TW','TJ','TZ','TH','TL','TG','TK','TO','TT','TN','TR','TM','TC','TV','UG','UA','AE','GB','US','UM','UY','UZ','VU','VE','VN','VG','VI','WF','EH','YE','ZM','ZW'])(id="nationality")
        .long-heading
          p.disclaimer All customers applying from the following countries must upload certified copies of 1 proof of Government issued photo id and one proof of residency (certified by a Notary or a Lawyer): #[p(class="disclaimer__list") Afghanistan, Albania, Algeria, Azerbaijan, Bangladesh, Belarus, Belize, Bhutan, Bolivia, Bosnia And Herzegovina, Cambodia, Ecuador, Indonesia, Kazakhstan, Kenya, Kyrgyzstan, Moldova, Niger, Nigeria, Pakistan, Panama, Russia, Seychelles, Tanzania, Turkmenistan, Uganda, Ukraine, Uzbekistan and Venezuela.]
        .personal_form__inputwrap
          h5.label Language:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['English', 'Spanish', 'Italian', 'Mandarin', 'Cantonese', 'Portuguese'])
        span.line

        .personal_form__inputwrap
          h5.label House/Flat Number And Street Name:
          +textinput({type: 'text', name: 'HouseNameNumber'})
        //- .personal_form__inputwrap
        //-   h5.label Street Name:
        //-   +textinput({type: 'text', name: 'streetName'})
        .personal_form__inputwrap
          h5.label City:
          +textinput({type: 'text', name: 'city'})
        .personal_form__inputwrap
          h5.label Country:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ["Afghanistan","Aland Islands","Albania","Algeria","American Samoa","Andorra","Angola","Anguilla","Antarctica","Antigua And Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia And Herzegovina","Botswana","Bouvet Island","Brazil","British Indian Ocean Territory","Brunei Darussalam","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman Islands","Central African Republic","Chad","Chile","China","Christmas Island","Cocos (Keeling) Islands","Colombia","Comoros","Congo","Congo, Democratic Republic","Cook Islands","Costa Rica","Cote D'Ivoire","Croatia","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Eritrea","Estonia","Ethiopia","Falkland Islands (Malvinas)","Faroe Islands","Fiji","Finland","France","French Guiana","French Polynesia","French Southern Territories","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guadeloupe","Guam","Guatemala","Guernsey","Guinea","Guinea-Bissau","Guyana","Haiti","Heard Island &amp; Mcdonald Islands","Holy See (Vatican City State)","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran, Islamic Republic Of","Iraq","Ireland","Isle Of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kiribati","Korea","Kuwait","Kyrgyzstan","Lao People's Democratic Republic","Latvia","Lebanon","Lesotho","Liberia","Libyan Arab Jamahiriya","Liechtenstein","Lithuania","Luxembourg","Macao","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Marshall Islands","Martinique","Mauritania","Mauritius","Mayotte","Mexico","Micronesia, Federated States Of","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Myanmar","Namibia","Nauru","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","Niue","Norfolk Island","Northern Mariana Islands","Norway","Oman","Pakistan","Palau","Palestinian Territory, Occupied","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Pitcairn","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russian Federation","Rwanda","Saint Barthelemy","Saint Helena","Saint Kitts And Nevis","Saint Lucia","Saint Martin","Saint Pierre And Miquelon","Saint Vincent And Grenadines","Samoa","San Marino","Sao Tome And Principe","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","Solomon Islands","Somalia","South Africa","South Georgia And Sandwich Isl.","Spain","Sri Lanka","Sudan","Suriname","Svalbard And Jan Mayen","Swaziland","Sweden","Switzerland","Syrian Arab Republic","Taiwan","Tajikistan","Tanzania","Thailand","Timor-Leste","Togo","Tokelau","Tonga","Trinidad And Tobago","Tunisia","Turkey","Turkmenistan","Turks And Caicos Islands","Tuvalu","Uganda","Ukraine","United Arab Emirates","United Kingdom","United States","United States Outlying Islands","Uruguay","Uzbekistan","Vanuatu","Venezuela","Viet Nam","Virgin Islands, British","Virgin Islands, U.S.","Wallis And Futuna","Western Sahara","Yemen","Zambia","Zimbabwe"], ['AF','AX','AL','DZ','AS','AD','AO','AI','AQ','AG','AR','AM','AW','AU','AT','AZ','BS','BH','BD','BB','BY','BE','BZ','BJ','BM','BT','BO','BA','BW','BV','BR','IO','BN','BG','BF','BI','KH','CM','CA','CV','KY','CF','TD','CL','CN','CX','CC','CO','KM','CG','CD','CK','CR','CI','HR','CU','CY','CZ','DK','DJ','DM','DO','EC','EG','SV','GQ','ER','EE','ET','FK','FO','FJ','FI','FR','GF','PF','TF','GA','GM','GE','DE','GH','GI','GR','GL','GD','GP','GU','GT','GG','GN','GW','GY','HT','HM','VA','HN','HK','HU','IS','IN','ID','IR','IQ','IE','IM','IL','IT','JM','JP','JE','JO','KZ','KE','KI','KR','KW','KG','LA','LV','LB','LS','LR','LY','LI','LT','LU','MO','MK','MG','MW','MY','MV','ML','MT','MH','MQ','MR','MU','YT','MX','FM','MD','MC','MN','ME','MS','MA','MZ','MM','NA','NR','NP','NL','AN','NC','NZ','NI','NE','NG','NU','NF','MP','NO','OM','PK','PW','PS','PA','PG','PY','PE','PH','PN','PL','PT','PR','QA','RE','RO','RU','RW','BL','SH','KN','LC','MF','PM','VC','WS','SM','ST','SA','SN','RS','SC','SL','SG','SK','SI','SB','SO','ZA','GS','ES','LK','SD','SR','SJ','SZ','SE','CH','SY','TW','TJ','TZ','TH','TL','TG','TK','TO','TT','TN','TR','TM','TC','TV','UG','UA','AE','GB','US','UM','UY','UZ','VU','VE','VN','VG','VI','WF','EH','YE','ZM','ZW'])
        .personal_form__inputwrap
          h5.label Postcode:
          +textinput({type: 'text', name: 'postCode'})

      h1
      section.personal_form-section(data-index="1")
        h4.personal_form__header BP Prime Safe
        p.personal_form__text BP Prime safe is an easy to use personal account management tool where you are able to deposit, transfer or withdraw funds, open additional, manage your personal details and more.
        .personal_form__inputwrap
          h5.label Email:
          +textinput({type: 'email', name: 'email'})
        .personal_form__inputwrap
          h5.label Password:
          +textinput({type: 'password', name: 'password'})
        .personal_form__inputwrap
          h5.label Confirm Password:
          +textinput({type: 'password', name: 'confirmPassword'})
        .personal_form__inputwrap
          h5.label.label--telephone Mobile Telephone:
          span +
          div.personal_form__inputwrap--double.phone-validate
            +textinput({classes: 'short', type: 'text'})
            +textinput({classes: 'medium', type: 'text'})
        .personal_form__inputwrap
          h5.label Account Type Required:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['PRO | GBP','PRO | EUR','PRO | USD','PRIME | GBP','PRIME | EUR','PRIME | USD'], [1,2,3,4,5,6])
        .personal_form__inputwrap
          h5.label Trading Platform:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['FIX API', 'MT4'], ['fixapi','mt4'])
        .personal_form__inputwrap
          h5.label Expected Initial Deposit:
          +textinput({type: 'text', name: 'initialDeposit'})
        span.line

        .personal_form__inputwrap
          h5.label Employment Status:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Employed','Self employed','House-keeper','Student','Unemployed'])(id="employmentStatus")
        .personal_form__inputwrap.hide-if-irrelevant.not-self-employed
          h5.label Employer Name:
          +textinput({type: 'text', name: 'employerName'})
        .personal_form__inputwrap.hide-if-irrelevant
          h5.label Nature Of Business:
          +textinput({type: 'text', name: 'natureOfBusiness'})
        .personal_form__inputwrap.hide-if-irrelevant
          h5.label Position Held:
          +textinput({type: 'text', name: 'positionHeld'})
        .personal_form__inputwrap
          h5.label Source Of Funds:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Employment','Inheritance','Investment','Previous Employment','Real Estate','Savings'])
        .personal_form__inputwrap
          h5.label Gross Anual Income:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['up to € 25K','€ 25K to € 50K','€ 50K to € 100k','€ 100k to € 150k','€ 150k to € 200k','€ 200k to € 250k','€ 250k to € 500k','€ 500k plus'])
        .personal_form__inputwrap
          h5.label Savings/Investments Apromixate Value:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['up to € 25K','€ 25K to € 50K','€ 50K to € 100k','€ 100k to € 150k','€ 150k to € 200k','€ 200k to € 250k','€ 250k to € 500k','€ 500k plus'])

      h1
      section.personal_form-section(data-index="2")
        h4.personal_form__header Financial Experience
        p.personal_form__text FDs and Spot FX are leveraged products and carry a high degree of risk to your capital. It is possible to lose more than your initial investment so only speculate with money you can afford to lose. CFDs and Spot FX may not be suitable for all investors so please ensure you fully understand the risks involved, seeking independent advice if necessary.
        .personal_form__inputwrap.personal_form__inputwrap--leftaline.long-heading
          h5.label Have you personally traded in any of the following in the past two years?
        .personal_form__inputwrap
          h5.label Spread Betting:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="spreadBetting")
            +radiobutton({text: 'No'})(name="spreadBetting")
        .personal_form__inputwrap
          h5.label CFDs:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="cfds")
            +radiobutton({text: 'No'})(name="cfds")
        .personal_form__inputwrap
          h5.label Shares:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="shares")
            +radiobutton({text: 'No'})(name="shares")
        .personal_form__inputwrap
          h5.label Forex:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="forex")
            +radiobutton({text: 'No'})(name="forex")
        span.line

        h5.personal_form__sub-heading Contracts for Difference Trading Experience
        .personal_form__inputwrap.with-tabs
          h5.label On average how many trades do you make each month
          +tabs-list('tradesPerMonth', ['Less than 6 trades', 'Between 6 & 20 trades', 'More than 20 Trades'])
        .personal_form__inputwrap.with-tabs
          h5.label How many years trading experience do you have
          +tabs-list('yearsTrading', ['Less than 1 year', '1 to 2 years', '2 to 5 years', 'More than 5 years'])
        h5.personal_form__sub-heading Shares
        .personal_form__inputwrap.with-tabs
          h5.label On average how many trades do you make each month
          +tabs-list('shareTrades', ['Less than 6 trades', 'Between 6 & 20 trades', 'More than 20 Trades'])
        .personal_form__inputwrap.with-tabs
          h5.label How many years trading experience do you have
          +tabs-list('yearsTradingShares', ['Less than 1 year', '1 to 2 years', '2 to 5 years', 'More than 5 years'])
        h5.personal_form__sub-heading Forex Trading
        .personal_form__inputwrap.with-tabs
          h5.label On average how many trades do you make each month
          +tabs-list('forexTrades', ['Less than 6 trades', 'Between 6 & 20 trades', 'More than 20 Trades'])
        .personal_form__inputwrap.with-tabs
          h5.label How many years trading experience do you have
          +tabs-list('yearsTradingForex', ['Less than 1 year', '1 to 2 years', '2 to 5 years', 'More than 5 years'])
        h5.personal_form__sub-heading Spread Betting
        .personal_form__inputwrap.with-tabs
          h5.label On average how many trades do you make each month
          +tabs-list('spreadBets', ['Less than 6 trades', 'Between 6 & 20 trades', 'More than 20 Trades'])
        .personal_form__inputwrap.with-tabs
          h5.label How many years trading experience do you have
          +tabs-list('yearsSpreadBetting', ['Less than 1 year', '1 to 2 years', '2 to 5 years', 'More than 5 years'])
        span.line

        .personal_form__inputwrap.personal_form__inputwrap--leftaline.long-heading
          h5.label Occupational experience: I have a good understanding of leveraged derivatives due to involvement in the financial services sector.(i.e. working in the financial services sector during the past 5 years in a full/ part time capacity):
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="occupationalExperience")
            +radiobutton({text: 'No'})(name="occupationalExperience")
        .personal_form__inputwrap.personal_form__inputwrap--leftaline.long-heading
          h5.label Qualifications: I have a good understanding of trading in leveraged derivatives due to a relevant professional qualification or by education:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="qualifications")
            +radiobutton({text: 'No'})(name="qualifications")
        .personal_form__inputwrap.personal_form__inputwrap--leftaline.long-heading
          h5.label I have used a demo platform to gain experience of trading BP Prime capital’s products:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="demoPlatform")
            +radiobutton({text: 'No'})(name="demoPlatform")
        .personal_form__inputwrap.personal_form__inputwrap--leftaline.long-heading
          h5.label Please tick if your investment portfolio, including cash and other financial instruments, is greater than €500k:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="investmentPortfolio")
            +radiobutton({text: 'No'})(name="investmentPortfolio")
        .personal_form__inputwrap.personal_form__inputwrap--leftaline.long-heading
          h5.label Please confirm that you have considered and understood the nature of these products and the risks involved:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="risksInvolved")
            +radiobutton({text: 'No'})(name="risksInvolved")

      h1
      section.personal_form-section(data-index="3")
        h4.personal_form__header FATCA - The Foreign Account Tax Compliance Act
        p.personal_form__text FATCA is US law that means Uk financial institutions must collect information on US tax residents using foreign accounts.
        .personal_form__inputwrap.personal_form__inputwrap--leftaline.long-heading
          h5.label Are you a citzen of the United States of America or Canada?
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="USACitizen")
            +radiobutton({text: 'No'})(name="USACitizen")
        .personal_form__inputwrap.personal_form__inputwrap--leftaline.long-heading
          h5.label For example, a copy of your passport, national ID card or photocard drivers licence.
          h5.label Please ensure the copies are clear, in colour and include both the front and back of cards if applicable.
          h5.label Where necessary, please ensure the copies are certified.
          h5.label For more specific information about what is required pease #[a( href="") click here]
        .personal_form__inputwrap.personal_form__inputwrap--leftaline.long-heading 
          h5.label Upload File
          input(type="file" accept=".doc, .docx, xls, .xlsx, .pdf, .jpeg, .rtf")
          h5.label .doc, .docx, xls, .xlsx, .pdf, .jpeg, .rtf files only
        .personal_form__inputwrap.personal_form__inputwrap--leftaline.long-heading
          h5.label Upload File
          input(type="file" accept=".doc, .docx, xls, .xlsx, .pdf, .jpeg, .rtf")
          h5.label .doc, .docx, xls, .xlsx, .pdf, .jpeg, .rtf files only
        .personal_form__inputwrap.personal_form__inputwrap--leftaline.long-heading(id="uploadOptional")
          h5.label Upload File
          input(type="file" accept=".doc, .docx, xls, .xlsx, .pdf, .jpeg, .rtf")
          h5.label .doc, .docx, xls, .xlsx, .pdf, .jpeg, .rtf files only

      h1
      section.personal_form-section(data-index="4")
        h4.personal_form__header Declarations
        p.personal_form__text Before proceeding any further you must read through the account application supporting documents listed below. To review the documents, please click on the document names.
        .personal_form__inputwrap.long-heading(id="docksWrapper")
          h5.label #[a(href="https://bpprime.com/pdf/Customer%20Terms%20and%20Conditions.pdf" target="_blank" class="must-view") Terms and conditions]
          h5.label #[a(href="https://bpprime.com/pdf/Best%20Execution%20Policy.pdf" target="_blank" class="must-view") Order execution policy]
          h5.label #[a(href="https://bpprime.com/pdf/Risk%20Warning%20Notice.pdf" target="_blank" class="must-view") Risk warning notice]
          h5.label #[a(href="https://bpprime.com/pdf/Client%20Categorisation.pdf" target="_blank" class="must-view") Client classification & protection notice]
        .personal_form__inputwrap.long-heading
          h5.label I hereby confirm and aknowledge that I have read and understood and agree to be bound to the Terms and Conditions, Order execution policy, risk warning notice and Client classification & protection notice provided to me.
          .personal_form__radios
            +radiobutton({text: 'Yes I Agree'})(name="termsAndConditions")
          .g-recaptcha(data-sitekey="6LfVdj0UAAAAAHrxiU5dIsts5lwcKswzXoQnFr7b")
        span.line
        .personal_form__inputwrap.long-heading
          h4.personal_form__header By submitting this application form I confirm that:
          h5.label 1. I have access to the internet and consent to BP Prime providing me with information about changes to the Client Agreement by posting such information on the Company website www.bpprime.com
          h5.label 2. I understand that CFDs and margined FX are leveraged products and am sure they are suitable for me; I have been advised of my ability to seek independant financial advice
          h5.label 3. I am over 18 and confirm that the information represented here is true and accurate and not misleading in any respect. I agree to inform BP Prime promptly in writing should any of the information provided here cease to be correct
          h5.label 4. I have carefully considered and understood the nature and the risk of the product(s) that I intend to trade in this account;
          h5.label 5. I act in my name as specified on this application form and not on behalf of another party in respect of all matters related tothis account. Accordingly, all funds to be deposited and transacted on the account are my own funds;
          h5.label 6. I am not aware that I have any health or other conditions that may affect the proper operation of the account;
          h5.label 7. I acknowledge and understand that Black Pearl Securities Ltd may in its sole discretion request additional information and/or documentation than what is listed in this application form in order. To open the account. I further more understand and accept that Black Pearl Securities Ltd may not accept my application based on the provided documents/information.
          
          
            