@import '../_modules/button/button';
@import '../_modules/textinput/textinput';

.personal_form {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 60px 0;
  font-weight: 100;

  @media #{$mq-desktop-xsmall-up} {
    padding: 85px 0;
  }

  &.success {
    & > * {
      display: none;
    }

    .success-only {
      display: block;
    }
  }

  .success-only {
    display: none;
  }

  &__radios {
    flex: 1;
    display: flex;
    // transform: translateY(14px);

    .radiowrap {
      flex: 1;
      color: palette(brown, base);
    }
  }

  &__text {
    color: palette(brown, base);
  }

  &__header {
    color: palette(gold, metalic);
    margin: 0;
    @extend %typography-section-title;
  }

  &__sub-heading {
    @extend %typography-title-v-one;
    color: palette(gray, medium);

    @media #{$mq-mobile-small-up} {
      margin: 5px 0;
    }

    @media #{$mq-desktop-small-up} {
      margin: 0;
    }
  }

  &__dropdownwrap {
    flex: 1;
    display: flex;
    // transform: translateY(14px);

    .dropdown {
      flex: 0.5;
    }
  }

  &__inputwrap {
    display: flex;
    padding: 10px 0;
    position: relative;
    align-items: center;

    &--double {
      flex: 1;
    }

    &--leftaline {
      align-items: left;
    }

    &.long-lable {
      .label {
        flex: 0 1 60%;
      }
      .dropdown {
        flex: 1;
      }
    }

    &.long-heading {
      flex-direction: column;

      .label {
        flex: 1;
        margin: 5px 0;
      }

      .radiowrap:not(:first-child) {
        margin-left: 5rem;
      }
    }

    &.with-tabs {
      @media #{$mq-mobile-small-up} {
        flex-direction: column;
        .label {
          flex: 1;
          margin: 5px 0;
        }
      }
      @media #{$mq-desktop-small-up} {
        flex-direction: row;

        .label {
          flex: 0 1 30%;
          margin: auto;
        }
      }
    }

    .label {
      color: palette(gold, metalic);
      flex: 0 1 30%;
      @extend %typography-title-v-two;

      &--telephone {
        flex: 0 1 27%;
      }

      a {
        color: palette(gold, metalic);
      }
    }

    input:not([type="radio"]):not([type="file"]) {
      flex: 1;
      // transform: translateY(14px);

      &.short {
        margin-left: 0;
      }

      &.medium {
        width: calc(100% - (15% + 9px));
      }
    }

    span {
      color: palette(gray, medium);
      font-size: 25px;
      height: 45px;
      line-height: 47px;
      // transform: translateY(14px);
      flex: 0 1 3%;
    }
  }

  .line {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    display: block;
    background-color: palette(gold, metalic);
  }

  button {
    margin-top: $primary-gutter;
    float: right;
  }

  .must-view.viewed {
    text-decoration: none;
    color: palette(brown, base);
  }

/* overide for jquery steps plugin */

  .steps {
    display: none;
  }
}