include ../textinput/textinput
include ../radiobutton/radiobutton
include ../button/button
include ../dropdown/dropdown


mixin personalDetailsForm(spec)
  .personal_form
    h4.personal_form__header Personal Details
    p.personal_form__text Please ensure you state your name exactly as it appears on your passport or other photo ID.
    form.personal_form__form(action="")
      .personal_form__inputwrap
        h5.label Gender:
        .personal_form__radios
          +radiobutton({text: 'Male'})(name="gender")
          +radiobutton({text: 'Female'})(name="gender")
      .personal_form__inputwrap
        h5.label Title:
        .personal_form__dropdownwrap
          +dropdown(['Mr', 'Mrs', 'Miss'])
      .personal_form__inputwrap
        h5.label First Name:
        +textinput({type: 'text', name: 'firstName'})
      .personal_form__inputwrap
        h5.label Surname:
        +textinput({type: 'text', name: 'surname'})
      span.line
      .personal_form__inputwrap
        h5.label Email:
        +textinput({type: 'email', name: 'email'})
      .personal_form__inputwrap
        h5.label.label--telephone Telephone:
        span +
        div.personal_form__inputwrap--double
          +textinput({class: 'short', type: 'text'})
          +textinput({class: 'medium', type: 'text'})
      +button()(class="button--green button--medium" href="" type="submit" ) 
        |Continue