include ../textinput/textinput
include ../radiobutton/radiobutton
include ../button/button
include ../dropdown/dropdown

mixin personalDetailsForm(baseUrl)
  .personal_form(id="formWrapper")
    h4.contact-form__header.success-only Success
    p.personal_form__text.success-only Thank You. You have succussfully submitted the form.
    form.personal_form__form(id="personalDetailsForm" action="someEndPoint/onSomeServer/" method="POST")

      h1
      section.personal_form-section(data-index="0")
        h4.personal_form__header Personal Details
        p.personal_form__text Please ensure you state your name exactly as it appears on your passport or other photo ID.
        .personal_form__inputwrap
          h5.label Title:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        .personal_form__inputwrap
          h5.label First Name:
          +textinput({type: 'text', name: 'firstName'})
        .personal_form__inputwrap
          h5.label Surname:
          +textinput({type: 'text', name: 'surname'})
        .personal_form__inputwrap
          h5.label Date Of Birth:
          .personal_form__dropdownwrap
            input(type="date" date-format="mmmm/dd/yyyy")
        .personal_form__inputwrap
          h5.label Nationality:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        .personal_form__inputwrap
          h5.label Language:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        span.line

        .personal_form__inputwrap
          h5.label Postcode:
          +textinput({type: 'text', name: 'postCode'})
        .personal_form__inputwrap
          h5.label House/Flat Number/Name:
          +textinput({type: 'text', name: 'HouseNameNumber'})
        .personal_form__inputwrap
          h5.label Street Name:
          +textinput({type: 'text', name: 'streetName'})
        .personal_form__inputwrap
          h5.label Town:
          +textinput({type: 'text', name: 'town'})
        .personal_form__inputwrap
          h5.label Country:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])

      h1
      section.personal_form-section(data-index="1")
        h4.personal_form__header BP Prime Safe
        p.personal_form__text BP Prime safe is an easy to use personal account management tool where you are able to deposit, transfer or withdraw funds, open additional, manage your personal details and more.
        .personal_form__inputwrap
          h5.label Email:
          +textinput({type: 'email', name: 'email'})
        .personal_form__inputwrap
          h5.label Password:
          +textinput({type: 'password', name: 'password'})
        .personal_form__inputwrap
          h5.label Confirm Password:
          +textinput({type: 'password', name: 'confirmPassword'})
        .personal_form__inputwrap
          h5.label.label--telephone Mobile Telephone:
          span +
          div.personal_form__inputwrap--double.phone-validate
            +textinput({class: 'short', type: 'text'})
            +textinput({class: 'medium', type: 'text'})
        .personal_form__inputwrap
          h5.label Account Type Required:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        .personal_form__inputwrap
          h5.label Trading Platform:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        .personal_form__inputwrap
          h5.label Initial Deposit:
          +textinput({type: 'text', name: 'initialDeposit'})
        span.line

        .personal_form__inputwrap
          h5.label Employment Status:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Employed', 'Self Employed', 'Student', 'Unemployed'])
        .personal_form__inputwrap
          h5.label Employer Name:
          +textinput({type: 'text', name: 'employerName'})
        .personal_form__inputwrap
          h5.label Nature Of Business:
          +textinput({type: 'text', name: 'natureOfBusiness'})
        .personal_form__inputwrap
          h5.label Position Held:
          +textinput({type: 'text', name: 'positionHeld'})
        .personal_form__inputwrap
          h5.label Source Of Funds:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        .personal_form__inputwrap
          h5.label Gross Anual Income:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        .personal_form__inputwrap
          h5.label Savings/Investments Apromixate Value:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])

      h1
      section.personal_form-section(data-index="2")
        h4.personal_form__header Financial Experience
        p.personal_form__text FDs and Spot FX are leveraged products and carry a high degree of risk to your capital. It is possible to lose more than your initial investment so only speculate with money you can afford to lose. CFDs and Spot FX may not be suitable for all investors so please ensure you fully understand the risks involved, seeking independent advice if necessary.
        .personal_form__inputwrap.long-heading
          h5.label Have you personally traded in any of the following in the past two years?
        .personal_form__inputwrap
          h5.label Spread Betting:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="spreadBetting")
            +radiobutton({text: 'No'})(name="spreadBetting")
        .personal_form__inputwrap
          h5.label CFDs:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="cfds")
            +radiobutton({text: 'No'})(name="cfds")
        .personal_form__inputwrap
          h5.label Shsres:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="shares")
            +radiobutton({text: 'No'})(name="shares")
        .personal_form__inputwrap
          h5.label Forex:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="forex")
            +radiobutton({text: 'No'})(name="forex")
        span.line

        h5.personal_form__sub-heading Contracts for Difference Trading Experience
        .personal_form__inputwrap.long-lable
          h5.label Average CFDs trades per month?:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        .personal_form__inputwrap.long-lable
          h5.label Number of years trading CFDs?:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        h5.personal_form__sub-heading Shares
        .personal_form__inputwrap.long-lable
          h5.label Average Shares trades per month?:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        .personal_form__inputwrap.long-lable
          h5.label Number of years trading Shares?:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        h5.personal_form__sub-heading Forex Trading
        .personal_form__inputwrap.long-lable
          h5.label Average Forex trades per month?:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        .personal_form__inputwrap.long-lable
          h5.label Number of years trading Forex?:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        h5.personal_form__sub-heading Spread Betting
        .personal_form__inputwrap.long-lable
          h5.label Average Spread Bets per month?:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        .personal_form__inputwrap.long-lable
          h5.label Number of years Spread Betting?:
          .personal_form__dropdownwrap
            +dropdown(baseUrl, ['Mr', 'Mrs', 'Miss'])
        span.line

        .personal_form__inputwrap.long-heading
          h5.label Occupational experience: I have a good understanding of leveraged derivatives due to involvement in the financial services sector.(i.e. working in the financial services sector during the past 5 years in a full/ part time capacity):
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="occupationalExperience")
            +radiobutton({text: 'No'})(name="occupationalExperience")
        .personal_form__inputwrap.long-heading
          h5.label Qualifications: I have a good understanding of trading in leveraged derivatives due to a relevant professional qualification or by education:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="qualifications")
            +radiobutton({text: 'No'})(name="qualifications")
        .personal_form__inputwrap.long-heading
          h5.label I have used a demo platform to gain experience of trading BP Prime capital’s products:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="demoPlatform")
            +radiobutton({text: 'No'})(name="demoPlatform")
        .personal_form__inputwrap.long-heading
          h5.label Please tick if your investment portfolio, including cash and other financial instruments, is greater than €500k:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="investmentPortfolio")
            +radiobutton({text: 'No'})(name="investmentPortfolio")
        .personal_form__inputwrap.long-heading
          h5.label Please confirm that you have considered and understood the nature of these products and the risks involved:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="risksInvolved")
            +radiobutton({text: 'No'})(name="risksInvolved")

      h1
      section.personal_form-section(data-index="3")
        h4.personal_form__header FATCA - The Foreign Account Tax Compliance Act
        p.personal_form__text FATCA is US law that means Uk financial institutions must collect information on US tax residents using foreign accounts.
        .personal_form__inputwrap.long-heading
          h5.label Are you a citzen of the United States of America:
          .personal_form__radios
            +radiobutton({text: 'Yes'})(name="USACitizen")
            +radiobutton({text: 'No'})(name="USACitizen")
        .personal_form__inputwrap.long-heading
          h5.label For example, a copy of your passport, national ID card or photocard drivers licence.
          h5.label Please ensure the copies are clear, in colour and include both the front and back of cards if applicable.
          h5.label Where necessary, please ensure the copies are certified.
          h5.label For more specific information about what is required pease #[a( href="") click here]
        .personal_form__inputwrap.long-heading 
          h5.label Upload File
          input(type="file")
          h5.label .doc, .docx, xls, .xlsx, .pdf, .jpeg, .rtf files only
        .personal_form__inputwrap.long-heading
          h5.label Upload File
          input(type="file")
          h5.label .doc, .docx, xls, .xlsx, .pdf, .jpeg, .rtf files only
        .personal_form__inputwrap.long-heading
          h5.label Upload File
          input(type="file")
          h5.label .doc, .docx, xls, .xlsx, .pdf, .jpeg, .rtf files only

      h1
      section.personal_form-section(data-index="4")
        h4.personal_form__header Declarations
        p.personal_form__text Before proceeding any further you must read through the account application supporting documents listed below. To review the documents, please click on the document names.
        .personal_form__inputwrap.long-heading 
         h5.label #[a( href="") Terms and conditions]
         h5.label #[a( href="") Order execution policy]
         h5.label #[a( href="") Risk warning notice]
         h5.label #[a( href="") Client classification & protection notice]
        .personal_form__inputwrap.long-heading
          h5.label I hereby confirm and aknowledge that I have read and understood and agree to be bound to the Terms and Conditions, Order execution policy, risk warning notice and Client classification & protection notice provided to me.
          .personal_form__radios
            +radiobutton({text: 'Yes I Agree'})(name="termsAndConditions")
        span.line
        .personal_form__inputwrap.long-heading
          h4.personal_form__header By submitting this application form I confirm that:
          h5.label 1. I have access to the internet and consent to BP Prime providing me with information about changes to the Client Agreement by posting such information on the Company website www.bpprime.com
          h5.label 2. I understand that CFDs and margined FX are leveraged products and am sure they are suitable for me; I have been advised of my ability to seek independant financial advice
          h5.label 3. I am over 18 and confirm that the information represented here is true and accurate and not misleading in any respect. I agree to inform BP Prime promptly in writing should any of the information provided here cease to be correct
          h5.label 4. I have carefully considered and understood the nature and the risk of the product(s) that I intend to trade in this account;
          h5.label 5. I act in my name as specified on this application form and not on behalf of another party in respect of all matters related tothis account. Accordingly, all funds to be deposited and transacted on the account are my own funds;
          h5.label 6. I am not aware that I have any health or other conditions that may affect the proper operation of the account;
          h5.label 7. I acknowledge and understand that Black Pearl Securities Ltd may in its sole discretion request additional information and/or documentation than what is listed in this application form in order. To open the account. I further more understand and accept that Black Pearl Securities Ltd may not accept my application based on the provided documents/information.
          
          
            