.products {
  padding: 0;

  @media #{$mq-tablet-small-up} {
    padding: calc(#{$primary-gutter} * 2);
  }

  &__hero {
    height: 325px;
    background-position: center;
  }

  &__footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: calc(#{$primary-gutter} * 2);

    @media #{$mq-desktop-small-up} {
      flex-direction: row;
    }

    &__iconwrap {
      padding: 0 $primary-gutter $primary-gutter $primary-gutter;

      @media #{$mq-desktop-small-up} {
        flex: 1;
        padding: 0 0 0 $primary-gutter;
      }
    }

    &__textwrap {
      padding: 0 $primary-gutter;

      @media #{$mq-desktop-small-up} {
        flex: 2;
        padding: 0 $primary-gutter 0 0;
      }

      p {
        margin-top: 0;
      }
    }
  }

  &__right--top,
  &__right--bottom,
  &__left--top,
  &__left--bottom {
    margin: $half-gutter;
  }

}

.product {
  flex: 1 0 100%;

  @media #{$mq-tablet-small-up} {
    flex: 1 0 50%;
  }

  &--left {
    @media #{$mq-tablet-small-up} {
      padding-right: 0;
    }  
  }
}