mixin language-selector(spec)
  ul.language-selector
    li.language-selector__option
      a(href='#') English
    li.language-selector__option
      a(href='#') Itlian
    li.language-selector__option
      a(href='#') Chinese