mixin countdown(config = {noButton: false})
  .countdown(class!=attributes.class)
    span.prefix.countdown__prefix
      span New York
        span.ePrix ePRIX
    table.countdown__time
      thead
        tr.countdown__labels
          th.countdown__label Days
          th.countdown__label Hours
          th.countdown__label Mins
      tbody
        tr
          td.countdown__num.countdown__num--day 00
          td.countdown__num.countdown__num--hour 00
          td.countdown__num.countdown__num--min 00
    if !config.noButton
      +button()(href='#race-hub' pageLink='true')
        |Explore Racehub
