.footer {
  position: relative;

  display: flex;
  flex-direction: column;
  // max-width: $max;

  width: 100%;
  margin: auto auto 0;

  letter-spacing: $mukta-spacing;

  padding-top: $half-gutter;
  
  @media #{$mq-tablet-small-up} {
    padding-top: $primary-gutter;
  }

  background-color: palette(brown, base);

  $root: &;

  &__columns {
    position: relative;

    display: flex;

    width: 100%;
    max-width: $max;
    margin: 0 auto;
    padding-top: $primary-gutter;

    flex-wrap: wrap;

    @media #{$mq-tablet-small-up} {
      padding: $primary-gutter calc(8.333333333% + #{$primary-gutter}) 0 calc(8.333333333% + #{$primary-gutter});
    }
  }

  &__title {
    @extend %typography-small-section-label;
  }

  &__link {
    transition: $color-transistion;

    @extend %typography-small-section-plain-link;

    &:hover {
      @extend %typography-active-small-section-plain-link;
    }

    &--highlighted {
      @extend %typography-small-section-link;
    }
  }

  &__text {
    @extend %typography-small-section-text;
  }

  &__text,
  &__link {
    padding: 4px 0;
    &--highlighted {
      padding: 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 0 $primary-gutter;

    &--hide-small {
      display: none;

      @media #{$mq-desktop-xsmall-up} {
        display: flex;
      }
    }

    &--break {
      flex: 1 0 100%;

      padding-top: $primary-gutter;

      @media #{$mq-tablet-small-up} {
        flex: 1;

        padding-top: 0;
      }
    }
  }

  &__icon_wrap {
    display: flex;
    flex-direction: row;

    padding: 4px 0;

    .icon span {
      margin-right: 15px;

      border-radius: 3px;
      background-color: palette(gray, text);
    }
  }

  &__legal {
    position: relative;

    display: flex;
    flex-direction: column;
  }

  &__legal-notice-container {
    width: 100%;

  }

  &__legal-notice {
    position: relative;

    flex: 1;

    max-width: $max;
    margin: $primary-gutter auto;
    padding: 0 $primary-gutter;

    @media #{$mq-tablet-small-up} {
      padding: 1rem calc(8.333333333% + #{$primary-gutter * 2});
    }

    #{$root}__legal-text {
      display: block;

      max-width: $max;
      margin: 0 auto;
      padding: $primary-gutter;

      border: 1px solid palette(gold, metalic);

      @extend %typography-small-section-text;
    }

  }

  &__copyright-notice {
    position: relative;

    flex: 1;

    width: 100%;

    border: none;
    background-color: palette(brown, dark);

    // @media #{$mq-tablet-small-up} {
    //   padding: 0 calc(8.333333333% + #{$half-gutter * 2});
    // }

    #{$root}__legal-text {
      max-width: $max;
      margin-right: auto;
      margin-left: auto;
      @media #{$mq-tablet-small-up} {
        padding: 0 calc(8.333333333% + #{$primary-gutter * 2});
      }
    }


  }

  &__legal-text {
    display: block;
    flex: 1;

    padding: 0 $primary-gutter;

    @extend %typography-small-section-text;
  }
}
