.footer {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: $max;
  margin: auto auto 0;

  letter-spacing: $mukta-spacing;

  background-color: palette(brown, base);

  &__columns {
    position: relative;

    display: flex;

    width: 100%;
    margin: 0 auto;
    padding-top: $primary-gutter;

    flex-wrap: wrap;

    @media #{$mq-tablet-small-up} {
      padding: 30px calc(8.333333333% + 1rem) calc(8.333333333% + 1rem);
    }
  }

  &__title {
    @extend %typography-small-section-label;
  }

  &__link {
    transition: $color-transistion;

    @extend %typography-small-section-plain-link;

    &:hover {
      @extend %typography-active-small-section-plain-link;
    }

    &--highlighted {
      @extend %typography-small-section-link;
    }
  }

  &__text {
    @extend %typography-small-section-text;
  }

  &__text,
  &__link {
    padding: 4px 0;
    &--highlighted {
      padding: 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;

    padding: 0 $primary-gutter;

    &--hide-small {
      display: none;

      @media #{$mq-desktop-xsmall-up} {
        display: flex;
      }
    }

    &--break {
      flex: 1 0 100%;

      padding-top: $primary-gutter;

      @media #{$mq-tablet-small-up} {
        flex: 1;

        padding-top: 0;
      }
    }
  }

  &__icon_wrap {
    display: flex;
    flex-direction: row;

    padding: 4px 0;

    .icon span {
      margin-right: 15px;

      border-radius: 3px;
      background-color: palette(gray, text);
    }
  }

  &__rows {
    position: relative;

    display: flex;
    flex-direction: column;
  }

  &__box {
    position: relative;

    flex: 1;

    max-width: $max;
    margin: $primary-gutter;

    border: 1px solid palette(gold, metalic);

    @media #{$mq-tablet-small-up} {
      margin: 1rem calc(8.333333333% + #{$primary-gutter * 2});
    }

    small {
      flex: 1;

      padding: 0 $primary-gutter;

      @extend %typography-small-section-text;
    }

    &--dark {
      margin: 0;

      border: none;
      background-color: palette(brown, dark);

      @media #{$mq-tablet-small-up} {
        padding: 0 calc(8.333333333% + #{$half-gutter * 2});
      }

      small {
        max-width: $max;
        margin: 0 auto;
        padding: $primary-gutter;

        @extend %typography-small-section-text;
      }
    }
  }
}
