include ../icon/icon

mixin footer()
  footer.footer
    .footer__columns
      .footer__wrapper.footer__wrapper--hide-small
        a.footer__link(href='#') About
        a.footer__link(href='#') Private
        a.footer__link(href='#') Institutional
        a.footer__link(href='#') Insight
        a.footer__link(href='#') Contact
      .footer__wrapper.footer__wrapper--hide-small
        a.footer__link(href='#') Privacy Policy
        a.footer__link(href='#') Regulations & licencing
        a.footer__link(href='#') Terms & Conditions
        a.footer__link(href='#') Risk Notice
        a.footer__link(href='#') Site Map
      .footer__wrapper
        span.footer__title BP Prime
        span.footer__text Address line 1
        span.footer__text Address line 2
        span.footer__text Address line 3
        span.footer__text Post Code
        span.footer__text Country
      .footer__wrapper
        span.footer__title Office
        span.footer__text +44 (0) 066645 776
        span.footer__title Email
        span.footer__text test@test.com
      .footer__wrapper.footer__wrapper--break
        span.footer__title Follow BP Prime
        .footer__icon_wrap
          +icon({image: "'/images/facebook.svg'"})(href="")
          +icon({image: "'/images/twitter.svg'"})(href="")
          +icon({image: "'/images/google.svg'"})(href="")
          +icon({image: "'/images/linkedin.svg'"})(href="")
    .footer__legal
      .footer__legal-notice
        .footer__legal-notice-container
          small.footer__legal-text As with all investing, Your capital is at risk. FX and CFDs are leveraged products that can result in losses exceeding your deposit. They are not suitable for everyone so please ensure you fully understand the risks involved. 
            a.footer__link.footer__link--highlighted(href='#') Learn more
      .footer__copyright-notice
        small.footer__legal-text Copyright © 2017 BP Prime. BP Prime is a trading name of Black Pearl Securities Limited (Company number 08823678). Black Pearl Securities Limited is authorized and regulated by the Financial Conduct Authority, Financial Services Register Number 688456. Registered office address: 36 Whitefriars Street, London, EC4Y 8BQ. United Kingdom
