include ../../_modules/nav/nav

mixin side-menu(title, baseUrl)
  aside.side-menu
    if title
      .side-menu__title
        h2 Categories
    +nav({bright: true, sideNav: true, items: 
      [ {title: 'Lastest News', href: baseUrl + 'latest-news'},
        {title: 'Technical Analysis', href: baseUrl + 'technical-analysis'},
        {title: 'Education', href: '', subItems: [
          {title: 'Trading Tools', href: baseUrl + 'trading-tools'},
          {title: 'Videos', href: ''},
          {title: 'Webinars & Seminars', href: ''},
          {title: 'Guides & eBooks', href: baseUrl + '/ebooks'},
          {title: 'Financial Glossary', href: '#products'},
        ]},
        {title: 'Calendar', href: baseUrl + 'calendar'},
        {title: 'Charts', href: baseUrl + ''},
      ]
    })