.article-header {
  width: 100%;

  $root: &;

  &__container {
    max-width: $max;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    padding: 0 $primary-gutter;

    align-items: center;

    @media #{$mq-desktop-small-up} {
      flex-direction: row;

      height: 80px;
      padding-right: 0;
      padding-left: calc(8.333333333% + #{$primary-gutter});
    }
  }

  &__bar {
    background-color: palette(gray, white);
  }

  &__buttons {
    display: flex;

    height: 100%;
    margin: $primary-gutter 0;
    @media #{$mq-desktop-small-up} {
      margin: 0 0 0 auto;
      padding-left: $primary-gutter;
    }
  }

  &__image-feature {
    max-width: $max;
    background-position: center;
    background-size: cover;
    height: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media #{$mq-desktop-small-up} {
      padding: $primary-gutter calc(8.333333333% + #{$primary-gutter});
    }

    > img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center center;
    }
  }

  &__title {
    margin: 0;
    align-self: flex-start;

    &--product {
      position: relative;
      margin-left: 34px;

      &:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        transform: rotate(45deg);
        left: -30px;
        top: 7px;
      }

      &:after {
        content: '';
        border-radius: 50%;
        top: 11px;
        left: -26px;
        width: 12px;
        height: 12px;
        position: absolute;
      }

      &.red {
        &:before {
          border: 1px solid palette(red, error);
        }
        &:after {
          background-color: palette(red, error);
        }
      }

      &.blue {
        &:before {
          border: 1px solid palette(blue, light);
        }
        &:after {
          background-color: palette(blue, light);
        }
      }

      &.orange {
        &:before {
          border: 1px solid palette(red, orange);
        }
        &:after {
          background-color: palette(red, orange);
        }
      }

      &.green {
        &:before {
          border: 1px solid palette(green, light);
        }
        &:after {
          background-color: palette(green, light);
        }
      }
    }

    @media #{$mq-desktop-small-up} {
      margin: 0 $primary-gutter;
      align-self: initial;
    }

    @extend %typography-page-top-title;
  }

  &__message,
  &__featured-button {
    padding: $half-gutter $primary-gutter;
  }

  &__message {
    max-width: 450px;
    @extend %typography-section-title;
  }
}
