.article-header {
  border-bottom: 1px solid palette(gray, border);
  border-top: 1px solid palette(gray, border);
  pointer-events: none;
  position: sticky;
  top: $condensed-header-height;
  width: 100%;
  z-index: 6;

  $root: &;

  @media #{$mq-desktop-small-up} {
    z-index: 5;
  }

  &__container {
    display: flex;
    flex-direction: column;

    max-width: $max;
    min-height: $article-header-height;
    margin: 0 auto;
    padding: 0 $primary-gutter;

    align-items: center;
    justify-content: center;

    @media #{$mq-desktop-small-up} {
      flex-direction: row;

      padding-right: 0;
      padding-left: calc(8.333333333% + #{$primary-gutter});

      justify-content: flex-start;
    }
  }

  &__bar {
    background-color: palette(gray, white);
    &--responsive-sub-menu {
      background-color: transparent;
      @media #{$mq-desktop-small-up} {
        background-color: palette(gray, white);
      }      
    }
  }

  &__buttons {
    display: flex;

    height: 100%;
    margin: $primary-gutter 0;
    @media #{$mq-desktop-small-up} {
      margin: 0 0 0 auto;
      padding-left: $primary-gutter;
    }

    > a,
    button {
      pointer-events: auto;
    }
  }


  &__title {
    margin: 0;

    align-self: flex-start;
    @extend %typography-page-top-title;

    &--product {
      position: relative;

      margin-left: 34px;

      &:before {
        position: absolute;
        top: 7px;
        left: -30px;

        width: 20px;
        height: 20px;

        content: '';
        transform: rotate(45deg);
      }

      &:after {
        position: absolute;
        top: 11px;
        left: -26px;

        width: 12px;
        height: 12px;

        content: '';

        border-radius: 50%;
      }

      &.red {
        &:before {
          border: 1px solid palette(red, error);
        }
        &:after {
          background-color: palette(red, error);
        }
      }

      &.blue {
        &:before {
          border: 1px solid palette(blue, light);
        }
        &:after {
          background-color: palette(blue, light);
        }
      }

      &.orange {
        &:before {
          border: 1px solid palette(red, orange);
        }
        &:after {
          background-color: palette(red, orange);
        }
      }

      &.green {
        &:before {
          border: 1px solid palette(green, light);
        }
        &:after {
          background-color: palette(green, light);
        }
      }
    }

    @media #{$mq-desktop-small-up} {
      margin: 0 $primary-gutter;

      align-self: initial;
    }
  }

}
