include ../logo/logo
include ../burger/burger
include ../menu/menu
include ../button/button

mixin article-header(title, buttons, product, subMenu)
  header.article-header
    .article-header__bar(class=(subMenu ? ' article-header__bar--responsive-sub-menu' : ''))
      .article-header__container
        if product
          h1.article-header__title(class!= product.class)!= title
        else
          h1.article-header__title!= title
        if buttons
          .article-header__buttons
            each button in buttons
              +button(true)(class='button--arrow button--fill-height button--' + button.style)!=button.text
