include ../logo/logo
include ../burger/burger
include ../menu/menu
include ../button/button

mixin article-header(title, image, message, bottomButton, buttons)
  header.article-header
    .article-header__bar
      .article-header__container
        h1.article-header__title!= title
        .article-header__buttons
          each button in buttons
            +button(true)(class='button--arrow button--fill-height button--' + button.style)!=button.text
    .article-header__image-feature(style='background-image: url("' + image + '")')
      .article-header__message!=message
      .article-header__featured-button
        +button(true)(class='button--' + bottomButton.style)!=bottomButton.text
