// button styles
a.rounded-button {
  @extend %typography-button;
  align-self: center;
  border: 2px solid palette(gray, white);
  border-radius: 100px;
  color: palette(gray, white);
  cursor: pointer;
  display: inline-block;
  margin: 1rem;
  padding: 14px 40px 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: padding .35s ease-in-out;

  &::after {
    background-image: url('../images/icon-arrow-white.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: '';
    display: inline-block;
    height: 16px;
    margin-left: 10px;
    opacity: 0;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    transition: all .35s ease-in-out;
    vertical-align: sub;
    width: 16px;
  }

  &:hover {
    padding-left: 35px;
    padding-right: 45px;

    &::after {
      opacity: 1;
      right: 30px;
      transform: translate(10px, -50%);
    }
  }

  &--left {
    align-self: flex-start;
    margin-left: 0;
  }

  &--sink {
    margin-top: auto;
  }

  &--teal {
    color: palette(teal, base);
    border-color: palette(teal, base);

    &::after {
      background-image: url('../images/icon-arrow-teal.svg');
    }
  }
}
