include ../button/button
include ../textinput/textinput

mixin contactUsForm()
  if block
    block
  else
    .contact-form
      h4.contact-form__header Contact Us
      h4.contact-form__header.success-only Success
      p.contact-form__text We offer financial institutions to a state of the art services platform to allow the best trading experience possible. Contact our support team for more information.
      p.contact-form__text.success-only Thank You. You have succussfully submitted the form.
      form.contact-form__form(action="someEndPoint/onSomeServer/" method="POST")&attributes(attributes)
        .contact-form__inputwrap
          +textinput({text: 'Company:', type: 'text', name: 'title'})
        .contact-form__inputwrap
          +textinput({text: 'First Name:', type: 'text', name: 'firstName'})
        .contact-form__inputwrap
          +textinput({text: 'Surname:', type: 'text', name: 'surname'})
        .contact-form__inputwrap
          +textinput({text: 'Email:', type: 'email', name: 'email'})
        .contact-form__inputwrap
          label Telephone:
          div.contact-form__inputwrap--double.phone-validate
            span +
            +textinput({class: 'short', type: 'text'})
            +textinput({class: 'medium', type: 'text'})
        +button()(class="button--medium button--green" href="" type="submit" ) 
          |Submit

