// header styles
.featured-charts {
  display: flex;
  flex: 2;

  margin: $half-gutter;

  flex-wrap: wrap;

  &__bottom-link {
    display: inline-block;

    margin: $primary-gutter 0;

    @extend %typography-small-section-link;
  }

  &__events {
    display: flex;
    flex-direction: column;

    width: 100%;

    @media #{$mq-desktop-small-up} {
      flex-direction: row;
    }

    > .square {
      flex: 1;

      margin-top: $primary-gutter;

      @media #{$mq-desktop-small-up} {
        margin-left: $primary-gutter;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  // TODO: This should really be in a table mixin
  &--smaller {
    .detail-column {
      display: none;
    }
  }
}
