extends ../_layouts/base
include ../_modules/header/header
include ../_modules/article-header/article-header
include ../_modules/news/news
include ../_modules/square/square
include ../_modules/footer/footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var headerType = 'condensed'

block content
  +header(headerType)
  main(role='main' style='background-color: white;')
    article
      +article-header('Private', '/images/article-header-image.jpg', 'Banner Message style with call to action, typeset in Financier Text Bold', {text: 'CTA Button', style: 'green'}, [{text: 'Become a Client', style: 'green'}, {text: 'Request Demo', style: 'dark-green'}] )

      .page-content
        section.page-content__block
          +news()
        section.page-content__block
          +square()


  +footer()
    