// nav styles

.main-menu {
  background: palette(brown, dark);
  display: flex;
  flex-direction: column;
  height: 100%;
  opacity: 0;
  padding: $mobile-header-height $gl-gutter $gl-gutter;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 500ms $timing-function-fast-out-slow-in;
  width: 100%;

  @media #{$mq-desktop-small-up} {
    opacity: 1;
    padding-top: $header-height;
    width: 350px;
  }

  &--active {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
}

