mixin nav()
  nav#main-menu.main-menu
    ul
      li.menu-item
        a(title='Vision Car') Vision Car
      li.menu-item
        a(title='Experience') Experience
      li.menu-item
        a.active Formula E
      li.menu-item
        a EP9
      li.menu-item
        a About NIO
      li.menu-item
        a News
      li.menu-item
        a(title='Blog') Blog
      li.menu-item
        a Join us
  +burger()(burgerId='main-burger')