.square {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;

  max-height: 325px;
  padding: $primary-gutter;

  background: palette(brown, base);

  $root: &;

  &__title {
    margin-top: 0;
    margin-bottom: #{$half-gutter / 2};

    @extend %typography-title-v-two;
  }

  &__date {
    margin-top: #{$half-gutter / 2};

    @extend %typography-title-v-one;
  }

  &__analysis {
    margin-top: auto;
    display: block;

    @extend %typography-small-section-link;
    align-self: flex-start;
  }

  &--bright {
    background-color: palette(gray, pale);

    #{$root}__date {
      @extend %typography-title-v-one;
    }

    #{$root}__analysis {
      @extend %typography-small-section-link-invert;
    }
  }
}