.square {
  display: flex;
  flex-direction: column;
  flex: 1 1 325px;

  max-height: 325px;
  padding: $primary-gutter;

  background: palette(brown, base);

  $root: &;

  &__meta {
    margin-top: 0;
    margin-bottom: #{$half-gutter / 2};

    @extend %typography-title-v-two;
  }

  &__title {
    margin-top: #{$half-gutter / 2};

    @extend %typography-title-v-one;
  }

  &__bottom-meta {
    margin-top: auto;
    display: flex;
    align-items: center;

    align-self: flex-start;

  }

  &__bottom-link {
    @extend %typography-small-section-link;
  }



  &--bright {
    background-color: palette(gray, pale);

    #{$root}__title {
      > * {
        @extend %typography-title-v-one;
      }
    }

    #{$root}__bottom-meta {
      #{$root}__bottom-link {
        @extend %typography-small-section-link-invert;
      }
    }
  }
}