.square {
  // position: relative;
  // bottom: 0;
  display: flex;
  flex-direction: column;
  flex: 1;

  height: 325px;

  padding: $primary-gutter;

  background: palette(brown, base);
  // margin: auto $primary-gutter 0 $primary-gutter;
  // padding: $primary-gutter 0;
  // // width: calc(100% - #{$primary-gutter * 4});
  // width: calc(100% - #{$primary-gutter * 2});
  // list-style: none;
  // border-top: 1px solid palette(gray, warm);

  $root: &;

  &__title {
    @extend %typography-title-v-two;
    margin-top: 0;
    margin-bottom: #{$half-gutter / 2};
  }

  &__date {
    margin-top: #{$half-gutter / 2};
    @extend %typography-title-v-one;
  }

  &__analysis {
    @extend %typography-small-section-link;
    align-self: flex-start;
    margin-top: auto;
  }
}