// standings styles
.standings {
  $root: &;

  background-color: $data-blue;
  display: flex;
  flex: 1 0 225px;
  flex-direction: column;
  font-size: .7rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
  width: 100%;

  @media #{$mq-desktop-small-up} {
    flex: 1 0 50%;
  }

  &__results-container {
    flex: 1;
    overflow: auto;
    width: 100%;
  }

  &__results {
    border-collapse: collapse;
    border-spacing: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
  }

  &__icon {
    > img {
      width: 1.25rem;
    }
  }

  &__headings {
    /* head takes the height it requires, and it's not scaled when table is resized */
    display: table;
    flex: 0 0 auto;
    table-layout: fixed;
    text-transform: uppercase;
    width: 100%;

    @media #{$mq-desktop-small-up} {
      border-bottom: 1px solid $data-foreground-blue;
    }

    th {
      @extend %typography-publish-date;
      color: palette(teal, base);
      padding: .5rem 0;
    }
  }

  thead {
    #{$root}__name {
      text-align: left;
    }
  }

  tbody {
    border-bottom: 1px solid $data-foreground-blue;
    display: block;
    flex: 1 1 auto;
    overflow-y: auto;

    // Prevents constant repainting on scroll.
    will-change: transform;

    tr {
      display: none;
      table-layout: fixed;
      width: 100%;
    
      @media #{$mq-desktop-small-up} {
        display: table;
      }

      &:not(:first-child) {
        border-top: 1px solid $data-foreground-blue;
      }
    }

    #{$root}__highlight {
      background-color: palette(teal, base);
      display: table;
      font-weight: bold;

      &:first-child {
        border-top: 0;
      }

      @media #{$mq-desktop-small-up} {
        &:first-child {
          border-top: 1px solid $data-foreground-blue;
        }
      }
    }

  }

  td,
  th {
    padding: 1rem .25rem;
  }

  &__headings th,
  td {
    &:nth-child(1) {
      width: 15%;
      padding-left: 1rem;
    }

    // &:nth-child(2) {
    //   width: 10%;
    // }

    &:nth-child(2) {
      width: 70%;
    }

    &:nth-child(3) {
      width: 15%;
      padding-right: 1rem;
    }
  }

  td:not(&__name) {
    text-align: center;
    text-transform: uppercase;
  }
}
