include ../button/button

mixin standings(spec)
  .standings
    .standings__results-container
      table.standings__results
        thead.standings__headings
          tr
            th POS
            //- th
            th.standings__name Driver
            th PTS
        tbody
          tr
            td 1
            //- td 
            td.standings__name S. Buemi
            td 132
          tr
            td 2
            //- td 
            td.standings__name L. Di Grassi
            td 89
          tr
            td 3
            //- td 
            td.standings__name N. Prost
            td 58
          tr
            td 4
            //- td 
            td.standings__name N. Heidfeld
            td 47
          tr
            td 5
            //- td 
            td.standings__name J. Vergne
            td 40
          tr
            td 6
            //- td 
            td.standings__name N. Heidfeld
            td 32
          tr
            td 7
            //- td 
            td.standings__name F. Rosenqvist
            td 27
          tr.standings__highlight
            td 8
            //- td.standings__icon
            //-   img(src='images/mushroom.svg')
            td.standings__name N. Piquet Jr
            td 27
          tr
            td 9
            //- td
            td.standings__name D. Abt
            td 26
          tr.standings__highlight
            td 10
            //- td.standings__icon
            //-   img(src='images/mushroom.svg')
            td.standings__name O. Turvey
            td 15
          tr
            td 11
            //- td
            td.standings__name M. Evans
            td 15
    +button
      |View Standings
