@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


// landing styles
.landing {
  $root: &;

  background-color: palette(gray, black) !important;

  &__hero {
    align-items: center;
    background-image: url('../images/race-preview-landing.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex: 1 0 calc(100vh - #{$mobile-header-height});
    position: relative;

    @media #{$mq-desktop-small-up} {
      flex: 1 0 55%;
    }

    &--full {
      background-image: url('../images/full-bleed.jpg');
      justify-content: center;

      #{$root}__intro {
        margin: 0;
        width: 100%;
        max-width: 90%;
        text-align: center;
      }

      #{$root}__title-prefix {
        @extend %typography-massive-feature;
      }

      #{$root}__location {
        @extend %typography-massive-feature;
        font-weight: bold;
      }

      h1 {
        display: block;
        > br {
          display: none;
        }
      }

    }
  }

  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    max-width: 455px;
    z-index: 1;

    > h1 {
      @extend %typography-header;

      span {
        display: inline-block;
        &::after {
          content: '';
          display: inline-block;
        }
      }
    }

  }

  &__title-prefix {
    font-weight: normal;
  }

  &__leave-case {
    text-transform: none;
  }

  &__sub-text {
    font-size: 1.5rem;
    font-weight: lighter;
    margin: .5rem 0;
  }

  &__features {
    background-color: $main-colour;
    display: none;
    flex: 1 0 auto;
    flex-direction: column;
    margin-top: 0;


    @media #{$mq-desktop-small-up} {
      flex: 1 0 350px;
      display: flex;
    }
  }

  &--block-stagger {

    #{$root}__hero {
      animation: fadeIn 1.5s $timing-function-fast-out-slow-in 0s both;
    }

    #{$root}__features {
      > div {
        &:nth-child(1) {
          animation: fadeIn 1.5s $timing-function-fast-out-slow-in .25s both;
        }

        &:nth-child(2) {
          animation: fadeIn 1.5s $timing-function-fast-out-slow-in .5s both;
        }
      }
    }
  }

  &--text-stagger {

    #{$root}__hero {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-color: palette(grey, black);
        animation: fadeOut 2.5s $timing-function-fast-out-slow-in 1.25s both;
      }
    }

    #{$root}__sub-text {
      animation: fadeIn 2s $timing-function-fast-out-slow-in both 3.25s;
    }

    #{$root}__button {
      animation: fadeIn 2s $timing-function-fast-out-slow-in both 4s;
    }

    $trans-time: 750ms;

    #{$root}__title-prefix {
      > span {
        $elements: 2;
        @for $i from 1 through $elements {
          &:nth-child(#{$i}) {
            animation: fadeInDown 2s $timing-function-fast-out-slow-in (($trans-time / $elements) * $i) both;
          }
        }
      }
    }

    #{$root}__location {
      > span {
        $elements: 3;
        @for $i from 1 through $elements {
          &:nth-child(#{$i}) {
            animation: fadeInDown 2s $timing-function-fast-out-slow-in (1000 + ($trans-time / $elements) * $i) both;
          }
        }
      }
    }
  }
}