// race-hub styles
.race-hub {
  $root: &;

  flex-direction: column;
  overflow: hidden;
  position: relative;

  &__contents {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: relative;

    &::after {
      background-color: black;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      transition: opacity 500ms $timing-function-ease-out-cubic;
      width: 100%;
      z-index: 1;
    }

    &--faded {
      &::after {
        opacity: .8;
        transition: opacity 500ms $timing-function-fast-out-slow-in;
      }
    }

    @media #{$mq-desktop-small-up} {
      flex-direction: row;
    }
  }

  &__stats {
    background-color: #003145;
    display: flex;
    flex: 1 0 auto;
  }

  &__features {
    background: blue;
    display: flex;
    flex: 1 1 auto;
    // min-height: 250px;

    > .countdown {
      flex: 1 0 250px;
    }
  }

  &__other {
    background: green;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    .fan-boost-open {
      flex: 1 0 250px;
    }
  }

  &__other,
  &__features,
  &__stats {
    flex-direction: column;
    @media #{$mq-desktop-small-up} {
      flex: 1 0;
      overflow: hidden;
    }
  }

  &__stat-blocks {
    display: flex;
    flex: 1 0 175px;
  }

  &__stat {
    align-items: center;
    background: palette(blue, base);
    box-sizing: border-box;
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 150px;
    overflow: hidden;
    padding: 1rem;
    position: relative;

    > figcaption,
    > span {
      text-align: center;
      z-index: 1;
    }

    > figcaption {
      @extend %typography-header-prefix;
    }


    &--turns {
      background-image: url('../images/turns.jpg');
      background-size: cover;
    }

    &--laps {
      &::after {
        border: 2px solid white;
        border-radius: 50%;
        content: '';
        padding-top: 80%;
        position: absolute;
        width: 80%;
     }

      &::before {
        background:
          radial-gradient(ellipse at center, palette(blue, base) 0%, palette(blue, base) 69%, rgba(palette(blue, base), 0) 70%, rgba(palette(blue, base), 0) 100%),
          linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 69%, rgba(255,255,255,0) 75%, rgba(255,255,255,0) 100%);
        border-radius: 50%;
        content: '';
        padding-top: 70%;
        position: absolute;
        width: 70%;
        transition: background 2s $timing-function-fast-out-slow-in;
      }
    }
  }

  &__stat-figure {
    @extend %typography-featured-figures;
  }

  &__stat-prefix {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .25rem;
    text-align: center;
    width: 100%;

    &::after,
    &::before {
      background-color: palette(grey, white);
      content: '\a0';
      flex-grow: 1;
      height: 1px;
      position: relative;
      top: .5em;
    }
  }

  &__report {
    background-color: #fff;
    display: flex;
    flex: 0 0 33.333%;
    flex-wrap: wrap;

    @media #{$mq-desktop-small-up} {
      flex-wrap: nowrap;
    }

    time {
      @extend %typography-publish-date;
      display: block;
    }
  }

  &__report-details {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  &__report-image {
    flex: 1 0 50%;

    > img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__report-title {
    @extend %typography-body;
    color: palette(grey, black);
  }

  &__stat-gallery {
    display: flex;
    flex: 1 0 250px;

    @media #{$mq-desktop-small-up} {
      flex: 1;
    }
  }

  &__turns,
  &__laps,
  &__trailer,
  &__stat,
  &__feature-image,
  &__fact,
  &__results {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__trailer {
    background-color: #888888;
    background-image: url('../images/temp/trailer.png');
    flex: 0 0 33.33%;
    width: 100%;

    @media #{$mq-desktop-small-up} {
      min-height: 33.3333%;
    }
  }

  &__feature-image {
    background-image: url('../images/view-gallery-bg.jpg');
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__fact-container {
    flex: 1 0 250px;

    @media #{$mq-desktop-small-up} {
      flex: 1;
    }
  }

  &__fact {
    align-items: center;
    background-color: black;
    // background-image: url('../images/paris.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    span {
      display: block;
      text-align: center;

      &:first-child {
        @extend %typography-header-prefix;
        margin: 1rem 0;
      }

      &:last-child {
        @extend %typography-body;
        max-width: 450px;
      }
    }

    &--nyc-1 {
      background-image: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)), url('../images/did-you-know/NYC-001.jpg');
    }

    &--nyc-2 {
      background-image: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)), url('../images/did-you-know/NYC-002.jpg');
    }

    &--nyc-3 {
      background-image: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)), url('../images/did-you-know/NYC-003.jpg');
    }
  }

  &__results {
    background-image: url('../images/temp/race-results.png');
    flex: 1 1 150px;

    @media #{$mq-desktop-small-up} {
      flex: 2;
    }
  }

  &__television {
    background: palette(grey, white);
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
  }

  &__title {
    @extend %typography-header-prefix;
    color: palette(teal, base);
    text-align: center;
    margin-top: auto;
  }

}

.race-selector {
  $grad-overlay: linear-gradient(to top, rgba(0, 0, 0, .9) 0%, rgba(0, 0, 0, .5) 18%,rgba(0,0,0,0.5) 100%);

  &__race {
    background-size: cover;
    position: relative;

    &::after {
      content: '';
      position: absolute;
    }

    &--monaco {
      background-image: $grad-overlay, url('../images/race-hub/monaco.jpg');
    }

    &--paris {
      background-image: $grad-overlay, url('../images/race-hub/paris.jpg');
    }

    &--berlin {
      background-image: $grad-overlay, url('../images/race-hub/berlin.jpg');
    }

    &--new-york {
      background-image: $grad-overlay, url('../images/race-hub/new-york.jpg');
    }
  }

  &__race-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    left: 0;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__location {
    @extend %typography-small-feature;
  }

  &__round,
  &__date {
    @extend %typography-small;
  }
}
