//==============================================================================
// Palette of colours available to every SASS file.
// The palette() function can be used to retrieve color values using their name.
//==============================================================================


// Base
$_base-colors: (
  black: #000,
  gray: (
    white:           #fff,
    warm:            #706d6b,
    pale:            #d7d0ca,
    base:            #5c5c5c,
    black:           #000,
  ),
  brown: (
    base:             #2c2a28,
    dark:             #23201e,
  ),
  gold: (
    process:          #a59466,
    metalic:          #8c7f58,
  )
);

$app-colors: $_base-colors;

// Font weights.
@mixin brand-gradient() {
  $brand-gradient: linear-gradient(45deg, rgba(#ffe900, .8) 10%, rgba(#009fff, .8) 100%);
}

@function -brand-gradient($opacityVal: 0.8) {
  @return linear-gradient(45deg, rgba(#ffe900, $opacityVal) 10%, rgba(#009fff, $opacityVal) 100%);
}


@function palette($palette, $tone) {
  @return map-get(map-get($app-colors, $palette), $tone);
}