//==============================================================================
// Base typography rules and mixins, available to all SASS files.
//
// - font-family settings
// - font-sizes palette
// - font-weight mixins
// - responsive font-size mixin
// - utility functions: ellipsis, image-replacement
//
//==============================================================================

// Font families.
$font-arial: Arial, sans-serif;
$font-helvetica: Helvetica;
$mukta: "Mukta", $font-helvetica, $font-arial;

$font-times: Times, serif;
$font-times-new-roman: 'Times New Roman';
$financier: "Financier", $font-times-new-roman, $font-times;

$primary-font-family: $mukta;
$secondary-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$tertiary-font-family: Arial, sans-serif;

// Font weight variables.
$font-weight-thin: 200;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font size variables.
$font-size-x-small: 12;
$font-size-small: 14;
$font-size-regular: 16;
$font-size-large: 20;
$font-size-x-large: 25;
$font-size-xx-large: 32;
$font-size-xxx-large: 50;

$color-transistion: color 250ms $timing-function-ease-out-quint;


// Font weights.
@mixin font-weight-bold {
  font-weight: $font-weight-bold;
}

@mixin font-weight-bold {
  font-weight: $font-weight-bold;
}

@mixin font-weight-medium {
  font-weight: $font-weight-medium;
}

@mixin font-weight-normal {
  font-weight: $font-weight-normal;
}

@mixin font-weight-thin {
  font-weight: $font-weight-thin;
}


// Font sizes
@mixin font-size-x-small {
  font-size: rem($font-size-x-small);
}

@mixin font-size-small {
  font-size: rem($font-size-small);
}

@mixin font-size-regular {
  font-size: rem($font-size-regular);
}

@mixin font-size-large {
  font-size: rem($font-size-large);
}

@mixin font-size-x-large {
  font-size: rem($font-size-x-large);
}

@mixin font-size-xx-large {
  font-size: rem($font-size-xx-large);
}

@mixin font-size-xxx-large {
  font-size: rem($font-size-xxx-large);
}



// Pass font sizes to set a responsive size, e.g:
// @include responsive-font-size($mobile: $font-size-small, $desktop: $font-size-large);
@mixin responsive-font-size($mobile: null, $phablet: null, $tablet: null, $desktop: null, $desktop-large: null) {
  @if ($mobile) {
    font-size: rem($mobile);
  }

  @if ($phablet) {
    @media #{$mq-tablet-small-up} {
      font-size: rem($phablet);
    }
  }

  @if ($tablet) {
    @media #{$mq-tablet-large-up} {
      font-size: rem($tablet);
    }
  }

  @if ($desktop) {
    @media #{$mq-desktop-small-up} {
      font-size: rem($desktop);
    }
  }

  @if ($desktop-large) {
    @media #{$mq-desktop-large-up} {
      font-size: rem($desktop-large);
    }
  }
}


// Utils

// Add an ellipsis to overflowing text
@mixin ellipsis($width: 100%) {
  display: inline-block;
  overflow: hidden;

  max-width: $width;

  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
}

@mixin image-replacement {
  overflow: hidden;

  white-space: nowrap;
  text-indent: 100%;
}

// WORK IN PROGRESS
// %text-state-transitions {
//   transition: transform 325ms $timing-function-ease-out-quint, color 250ms $timing-function-ease-out-quint 125ms;
// }

// Classes to be extended.

%mukta-light {
  letter-spacing: $mukta-spacing;
  font-family: $mukta;
  font-weight: lighter;
  letter-spacing: $mukta-spacing;
}

%mukta-medium {
  letter-spacing: $mukta-spacing;
  font-family: $mukta;
  font-weight: normal;
  letter-spacing: $mukta-spacing;
}

%financier-regular {
  font-family: $financier;
  font-weight: normal;
  // line-height: 1.75;
}

%financier-bold {
  font-family: $financier;
  font-weight: bold;
  // line-height: 1.75;
}


// Font categorys

%typography-banner-title {
  color: palette(gold, metalic);

  @extend %financier-bold;
  @include responsive-font-size(
    $mobile: $font-size-xx-large,
    $desktop: $font-size-xxx-large
  );
}

%typography-banner-subtitle {
  color: palette(gray, pale);

  @extend %mukta-light;
  @include responsive-font-size(
    $mobile: $font-size-regular,
    $desktop: $font-size-large
  );
}

%typography-section-title {
  color: palette(gold, metalic);
  line-height: 30px;
  @extend %financier-bold;
  @include font-size-large;
}

%typography-page-top-title {
  color: palette(gray, medium);

  @extend %financier-bold;
  @include responsive-font-size(
    $mobile: $font-size-x-large,
    $desktop: $font-size-xx-large
  );
}


// ASK DESIGNER FOR PROPER NAME
%typography-title-v-one {
  color: palette(gray, medium);

  @extend %mukta-medium;
  @include responsive-font-size(
    $mobile: $font-size-regular,
    $desktop: $font-size-regular
  );
}

%typography-title-v-one--lighter {
  color: palette(gray, pale);

  @extend %mukta-medium;
  @include responsive-font-size(
    $mobile: $font-size-regular,
    $desktop: $font-size-regular
  );
}

// ASK DESIGNER FOR PROPER NAME
%typography-title-v-two {
  color: palette(gold, metalic);

  @extend %financier-regular;
  @include font-size-regular;
}

%typography-title-v-three {
  color: palette(gray, white);
  
  @extend %financier-regular;
  @include font-size-regular;
}


%typography-body {
  color: palette(gray, medium);

  @extend %mukta-light;
  @include font-size-regular;
}

%typography-list-label {
  color: palette(gray, pale);

  @extend %mukta-light;
  @include font-size-regular;
}

%typography-list-value {
  color: palette(gray, pale);

  @extend %mukta-light;
  @include font-size-regular;
}

// *Side Nav*
%typography-side-nav-title {
  color: palette(gray, lightblack);

  @extend %mukta-medium;
  @include font-size-regular;
}

%typography-side-nav-item {
  color: palette(gray, medium);

  @extend %mukta-light;
  @include font-size-regular;
}

%typography-side-nav-sub-item {
  color: palette(gray, medium);

  @extend %mukta-light;
  @include font-size-regular;
}

// *Main Nav*
%typography-nav-section {
  color: palette(gray, pale);

  @extend %financier-regular;
  @include font-size-large;
}

%typography-open-nav-section {
  color: palette(gold, metalic);

  @extend %financier-bold;
  @include font-size-large;
}

// *small text including footer*
%typography-small-section-label {
  color: palette(gold, metalic);

  @extend %mukta-light;
  @include font-size-small;
}

%typography-small-section-text {
  color: palette(gray, pale);

  @extend %mukta-light;
  @include font-size-small;
}

%typography-small-section-link {
  color: palette(gray, pale);
  text-decoration: none;
  border-bottom: 1px solid palette(gray, pale);
  cursor: pointer;

  @extend %mukta-light;
  @include font-size-small;
}

%typography-small-section-link-invert {
  color: palette(brown, base);
  text-decoration: none;
  border-bottom: 1px solid palette(brown, base);
  cursor: pointer;

  @extend %mukta-light;
  @include font-size-small;
}

%typography-active-small-section-link {
  color: palette(gold, metalic);
  text-decoration: none;
  border-bottom: 1px solid palette(gold, metalic);
  cursor: pointer;

  @extend %mukta-light;
  @include font-size-small;
}

%typography-small-section-plain-link {
  color: palette(gray, pale);
  text-decoration: none;
  cursor: pointer;

  @extend %mukta-light;
  @include font-size-small;
}

%typography-active-small-section-plain-link {
  color: palette(gold, metalic);
  text-decoration: none;
  cursor: pointer;

  @extend %mukta-light;
  @include font-size-small;
}

%typography-rectangle-button {
  color: palette(gold, metalic);
  text-decoration: none;
  cursor: pointer;

  @extend %mukta-light;
  @include font-size-small;
}

%typography-active-rectangle-button {
  color: palette(gray, pale);
  text-decoration: none;
  cursor: pointer;

  @extend %mukta-light;
  @include font-size-small;
}

%typography-tandc-small {
  color: palette(gray, medium);
  @extend %mukta-light;
  @include font-size-x-small;
  line-height: 20px;
  font-size: 14px;
}

// Duplicates of above to be used in html


.typography-banner-title {
  color: palette(gold, metalic);

  @extend %financier-bold;
  @include responsive-font-size(
    $mobile: $font-size-xx-large,
    $desktop: $font-size-xxx-large
  );
}

.typography-banner-subtitle {
  color: palette(gray, pale);

  @extend %mukta-light;
  @include responsive-font-size(
    $mobile: $font-size-regular,
    $desktop: $font-size-large
  );
}

.typography-section-title {
  color: palette(gold, metalic);
  line-height: 30px;
  @extend %financier-bold;
  @include font-size-large;
}

.typography-page-top-title {
  color: palette(gray, medium);

  @extend %financier-bold;
  @include responsive-font-size(
    $mobile: $font-size-x-large,
    $desktop: $font-size-xx-large
  );
}


// ASK DESIGNER FOR PROPER NAME
.typography-title-v-one {
  color: palette(gray, medium);

  @extend %mukta-medium;
  @include responsive-font-size(
    $mobile: $font-size-regular,
    $desktop: $font-size-regular
  );
}

.typography-title-v-one--lighter {
  color: palette(gray, pale);

  @extend %mukta-medium;
  @include responsive-font-size(
    $mobile: $font-size-regular,
    $desktop: $font-size-regular
  );
}

// ASK DESIGNER FOR PROPER NAME
.typography-title-v-two {
  color: palette(gold, metalic);

  @extend %financier-regular;
  @include font-size-regular;
}

.typography-title-v-three {
  color: palette(gray, white);
  
  @extend %financier-regular;
  @include font-size-regular;
}


.typography-body {
  color: palette(gray, medium);

  @extend %mukta-light;
  @include font-size-regular;
}

.typography-list-label {
  color: palette(gray, pale);

  @extend %mukta-light;
  @include font-size-regular;
}

.typography-list-value {
  color: palette(gray, pale);

  @extend %mukta-light;
  @include font-size-regular;
}

// *Side Nav*
.typography-side-nav-title {
  color: palette(gray, lightblack);

  @extend %mukta-medium;
  @include font-size-regular;
}

.typography-side-nav-item {
  color: palette(gray, medium);

  @extend %mukta-light;
  @include font-size-regular;
}

.typography-side-nav-sub-item {
  color: palette(gray, medium);

  @extend %mukta-light;
  @include font-size-regular;
}

// *Main Nav*
.typography-nav-section {
  color: palette(gray, pale);

  @extend %financier-regular;
  @include font-size-large;
}

.typography-open-nav-section {
  color: palette(gold, metalic);

  @extend %financier-bold;
  @include font-size-large;
}

// *small text including footer*
.typography-small-section-label {
  color: palette(gold, metalic);

  @extend %mukta-light;
  @include font-size-small;
}

.typography-small-section-text {
  color: palette(gray, pale);

  @extend %mukta-light;
  @include font-size-small;
}

.typography-small-section-link {
  color: palette(gray, pale);
  text-decoration: none;
  border-bottom: 1px solid palette(gray, pale);
  cursor: pointer;

  @extend %mukta-light;
  @include font-size-small;
}

.typography-small-section-link-invert {
  color: palette(brown, base);
  text-decoration: none;
  border-bottom: 1px solid palette(brown, base);
  cursor: pointer;

  @extend %mukta-light;
  @include font-size-small;
}

.typography-active-small-section-link {
  color: palette(gold, metalic);
  text-decoration: none;
  border-bottom: 1px solid palette(gold, metalic);
  cursor: pointer;

  @extend %mukta-light;
  @include font-size-small;
}

.typography-small-section-plain-link {
  color: palette(gray, pale);
  text-decoration: none;
  cursor: pointer;

  @extend %mukta-light;
  @include font-size-small;
}

.typography-active-small-section-plain-link {
  color: palette(gold, metalic);
  text-decoration: none;
  cursor: pointer;

  @extend %mukta-light;
  @include font-size-small;
}

.typography-rectangle-button {
  color: palette(gold, metalic);
  text-decoration: none;
  cursor: pointer;

  @extend %mukta-light;
  @include font-size-small;
}

.typography-active-rectangle-button {
  color: palette(gray, pale);
  text-decoration: none;
  cursor: pointer;

  @extend %mukta-light;
  @include font-size-small;
}

.typography-tandc-small {
  color: palette(gray, medium);
  @extend %mukta-light;
  @include font-size-x-small;
  line-height: 20px;
  font-size: 14px;
}
 


