//==============================================================================
// Base typography rules and mixins, available to all SASS files.
//
// - font-family settings
// - font-sizes palette
// - font-weight mixins
// - responsive font-size mixin
// - utility functions: ellipsis, image-replacement
//
//==============================================================================

// Font families.
$font-arial: Arial, sans-serif;
$font-helvetica: Helvetica;
$mukta: "Mukta", $font-helvetica, $font-arial;

$font-times: Times, serif;
$font-times-new-roman: "Times New Roman";
$financier: "Financier", $font-times-new-roman, $font-times;

$primary-font-family: $mukta;
$secondary-font-family: "Open Sans" Helvetica, Arial, sans-serif;
$tertiary-font-family: Arial, sans-serif;

// Font weight variables.
$font-weight-thin: 200;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font size variables.
$font-size-x-small: 12;
$font-size-small: 14;
$font-size-regular: 16;
$font-size-large: 21;
$font-size-x-large: 32;
$font-size-xx-large: 50;
$font-size-xxx-large: 80;


// Font weights.
@mixin font-weight-bold {
  font-weight: $font-weight-bold;
}

@mixin font-weight-bold {
  font-weight: $font-weight-bold;
}

@mixin font-weight-medium {
  font-weight: $font-weight-medium;
}

@mixin font-weight-normal {
  font-weight: $font-weight-normal;
}

@mixin font-weight-thin {
  font-weight: $font-weight-thin;
}


// Font sizes
@mixin font-size-x-small {
  font-size: rem($font-size-x-small);
}

@mixin font-size-small {
  font-size: rem($font-size-small);
}

@mixin font-size-regular {
  font-size: rem($font-size-regular);
}

@mixin font-size-large {
  font-size: rem($font-size-large);
}

@mixin font-size-x-large {
  font-size: rem($font-size-x-large);
}

@mixin font-size-xx-large {
  font-size: rem($font-size-xx-large);
}

@mixin font-size-xxx-large {
  font-size: rem($font-size-xxx-large);
}



// Pass font sizes to set a responsive size, e.g:
// @include responsive-font-size($mobile: $font-size-small, $desktop: $font-size-large);
@mixin responsive-font-size($mobile: null, $phablet: null, $tablet: null, $desktop: null, $desktop-large: null) {
  @if ($mobile) {
    font-size: rem($mobile);
  }

  @if ($phablet) {
    @media #{$mq-tablet-small-up} {
      font-size: rem($phablet);
    }
  }

  @if ($tablet) {
    @media #{$mq-tablet-large-up} {
      font-size: rem($tablet);
    }
  }

  @if ($desktop) {
    @media #{$mq-desktop-small-up} {
      font-size: rem($desktop);
    }
  }

  @if ($desktop-large) {
    @media #{$mq-desktop-large-up} {
      font-size: rem($desktop-large);
    }
  }
}


// Utils

// Add an ellipsis to overflowing text
@mixin ellipsis($width: 100%) {
  display: inline-block;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin image-replacement {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}


// Classes to be extended.

%mukta-light {
  font-family: $mukta;
  font-weight: lighter;
  letter-spacing: $mukta-spacing;
  line-height: 1.2;
}

%mukta-medium {
  font-family: $mukta;
  font-weight: normal;
  letter-spacing: $mukta-spacing;
  line-height: 1.2;
}

%financier-regular {
  font-family: $financier;
  font-weight: normal;
  // line-height: 1.75;
}

%financier-bold {
  font-family: $financier;
  font-weight: bold;
  // line-height: 1.75;
}

// %blue-sky-bold {
//   @include font-weight-bold;
//   font-family: $blue-sky;
// }

// Font categorys
// %typography-header {
//   @extend %blue-sky-bold;

//   @include responsive-font-size(
//     $mobile: $font-size-large,
//     $desktop: $font-size-x-large
//   );

//   color: palette(gray, pale);
// }

%typography-banner-title {
  @extend %financier-bold;

  @include responsive-font-size(
    $mobile: $font-size-x-large,
    $desktop: $font-size-xx-large
  );

  color: palette(gold, metalic);
}

%typography-banner-subtitle {
  @extend %mukta-light;

  @include responsive-font-size(
    $mobile: $font-size-large,
    $desktop: $font-size-large
  );

  color: palette(gray, pale);
}


%typography-section-title {
  @extend %financier-bold;

  @include font-size-large;

  color: palette(gold, metalic);
}

%typography-section-top-title {
  @extend %financier-bold;

  @include font-size-x-large;

  color: palette(gold, metalic);
}


// ASK DESIGNER FOR PROPER NAME
%typography-title-v-one {
  @extend %mukta-medium;

  @include responsive-font-size(
    $mobile: $font-size-regular,
    $desktop: $font-size-large
  );

  color: palette(gray, pale);
}

// ASK DESIGNER FOR PROPER NAME
%typography-title-v-two {
  @extend %financier-regular;

  @include font-size-regular;

  color: palette(gold, metalic);
}


%typography-body {
  @extend %mukta-light;
  @include font-size-regular;

  color: palette(gray, pale);
}

%typography-list-label {
  @extend %mukta-light;
  @include font-size-regular;

  color: palette(gray, pale);
}

%typography-list-value {
  @extend %mukta-light;
  @include font-size-regular;

  color: palette(gray, pale);
}

%typography-nav-section {
  @extend %financier-regular;

  @include font-size-large;

  color: palette(gray, pale);
}

%typography-open-nav-section {
  @extend %financier-bold;

  @include font-size-large;

  color: palette(gold, metalic);
}

// %typography-massive-feature {
//   @extend %blue-sky-light;

//   @include responsive-font-size(
//     $mobile: $font-size-x-large,
//     $phablet: $font-size-xx-large,
//     $desktop: $font-size-xxx-large
//   );
// }

// %typography-feature {
//   @extend %blue-sky-light;

//   @include responsive-font-size(
//     $mobile: $font-size-large,
//     $phablet: $font-size-x-large,
//     $desktop: $font-size-xx-large
//   );
// }

// %typography-small-feature {
//   @extend %blue-sky-bold;
//   text-transform: uppercase;
//   letter-spacing: rem(3px);

//   @include responsive-font-size(
//     $mobile: $font-size-regular,
//     $desktop: $font-size-regular
//   );
// }

// %typography-button {
//   @extend %blue-sky-bold;
//   @include font-size-x-small;
//   letter-spacing: rem(2px);
//   text-transform: uppercase;
// }

// %typography-small {
//   @extend %blue-sky-light;
//   @include font-size-x-small;
//   text-transform: uppercase;
//   letter-spacing: rem(3px);
//   // line-height: 2;
// }

// %typography-header-prefix {
//   @extend %blue-sky-light;
//   @include responsive-font-size(
//     $phablet: $font-size-x-small,
//     $desktop: $font-size-regular
//   );
//   letter-spacing: rem(2px);
//   text-transform: uppercase;
// }

// %typography-publish-date {
//   @extend %blue-sky-light;
//   @include responsive-font-size(
//     $desktop: $font-size-x-small
//   );
//   color: palette(gray, gray-2);
//   letter-spacing: rem(2px);
//   text-transform: uppercase;
// }

// %responsive-nav {
//   @extend %blue-sky-bold;
//   @include responsive-font-size(
//     $mobile: $font-size-x-large,
//     $phablet: $font-size-x-large,
//     $desktop: $font-size-x-small
//   );
// }






// $letter-spacing: 0.1rem;

// // Fonts
// @mixin blue-sky-book {
//   color: #fff;

//   font-family: 'blue-sky-Book', sans-serif;
// }

// @mixin blue-sky-bold {
//   color: #fff;
//   letter-spacing: 0.1rem;
//   font-family: 'blue-sky-Bold', sans-serif;
// }

// // Header 1
// @mixin main-header-text {
//   @include blue-sky-bold();
//   @include font-size-xxx-large();
//   text-transform: uppercase;
//   margin-top: 0.75rem;
//   margin-bottom: 0.75rem;
// }

// // Header 2
// @mixin sub-header-text {
//   @include blue-sky-bold();
//   @include font-size-x-large();
//   text-transform: uppercase;
//   text-align: center;
// }

// // Body copy 1
// @mixin body-copy {
//   @include blue-sky-book();
//   // Default font-size
// }

// // Body copy 2
// @mixin body-copy-featured {
//   @include blue-sky-book();
//   @include font-size-xx-large();
// }

// // Navigation
// @mixin navigation-copy {
//   @include blue-sky-book();
//   @include font-size-small();
// }

// // Small
// @mixin featured-text {
//   @include blue-sky-book();
//   @include font-size-small();
// }
