// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import 'vars';
@import 'utils';
@import 'colors';
@import 'media-queries';
@import 'fonts';
@import 'type';
@import 'defaults';

// Used on the body tag for fixed header padding.
body {
  padding-top: $condensed-header-height;

  &.expanded-header {
    @media #{$mq-desktop-small-up} {
      padding-top: $expanded-header-height;
    }
  }
}

// TODO: Unsure if this should actually be a mixin or not?
.wrapper {
  max-width: $max;
  margin: 0 auto;
}

.page-content {
  display: flex;

  max-width: $max;
  margin: 0 auto;

  flex-wrap: wrap;

  &__block {
    position: relative;
    display: flex;

    flex: 1 1 #{rem(($thresh--small-3 / 5)) - ($primary-gutter * 2)};


    &--column {
      flex-direction: column;
    }

    &--double {
      flex: 1 1 #{rem(($thresh--small-3 / 2)) - ($primary-gutter * 2)};
    }

    > * {
      // margin: $primary-gutter 0;

      // @media #{$mq-desktop-small-up} {
      margin: $half-gutter;
      // }      
    }
  }

  &__container {
    display: flex;
    flex: 2.5;
    flex-wrap: wrap;
    padding: $primary-gutter;
    
    @media #{$mq-desktop-small-up} {
      padding: rem($article-header-height) - $primary-gutter #{$primary-gutter + $half-gutter};
    }
  }

  &--menu-container {
    @media #{$mq-desktop-small-up} {
      flex-direction: row-reverse;
    }
  }
}

@import '../_modules/textinput/textinput';
@import '../_modules/slider/slider';
@import '../_modules/private-form/private-form';
@import '../_modules/progressicon/progressicon';
@import '../_modules/button/button';
@import '../_modules/textinput/textinput';
@import '../_modules/header/header';
@import '../_modules/side-menu/side-menu';
@import '../_modules/article-header/article-header';
@import '../_modules/article-hero/article-hero';
@import '../_modules/menu/menu';
@import '../_modules/logo/logo';
@import '../_modules/burger/burger';
@import '../_modules/nav/nav';
@import '../_modules/language-selector/language-selector';
@import '../_modules/icon/icon';
@import '../_modules/footer/footer';
@import '../_modules/radiobutton/radiobutton';
@import '../_modules/button/button';
@import '../_modules/dropdown/dropdown';
@import '../_modules/tabs/tabs';
@import '../_modules/personalDetailsForm/personalDetailsForm';
@import '../_modules/contactUsForm/contact-form';
@import '../_modules/news/news';
@import '../_modules/contact/contact';
@import '../_modules/square/square';
@import '../_modules/products/products';
@import '../_modules/product/product';
@import '../_modules/whiteLabels/white-labels';
@import '../_modules/institutional/institutional';
