.progress {
  display: flex;
  @extend %typography-title-v-three;
  position: relative;
  flex-direction: column;
  height: 75px;

  &.chain {
    flex: 1;

    &:not(:last-child):after {
      content: '';
      border: 1px solid palette(gold, metalic);
      position: absolute;
      width: calc(100% - 26px);
      top: 21px;
      left: calc(50% + 13px);
    }

    &.complete {
      &:after {
        border-color: palette(green, light);
      }
    }
  }

  &__wrap {
    width: 20px;
    height: 20px;
    position: relative;
    border: 1px solid palette(gold, metalic);
    transform: rotate(45deg);
    left: calc(50% - 10px);
    top: 12px;

    .complete & {
      background-color: palette(green, light);
      border-color: palette(green, light);
    }

    .active & {
      background-color: palette(gold, metalic);
    }

    &__text {
      transform: rotate(-45deg);
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 3;
      line-height: 20px;
    }
  }

  &__title {
    margin: 0;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    bottom: 6px;
    white-space: nowrap;
  }

  &--icon {
    height: auto;
    flex-direction: row;

    .progress__wrap {
      top: 0;
      left: 0;

      &__text {
        border-radius: 50%;
        top: 3px;
        left: 3px;
        width: 65%;
        height: 65%;
      }
    }

    .progress__title {
      transform: translateX(0);
      left: 30px;
      bottom: -2px;
      @extend %typography-title-v-one;
    }

    &.red {
      .progress__wrap {
        border-color: palette(red, error);

        &__text {
          background-color: palette(red, error);
        }
      }
    }

    &.green {
      .progress__wrap {
        border-color: palette(green, light);

        &__text {
          background-color: palette(green, light);
        }
      }
    }

    &.orange {
      .progress__wrap {
        border-color: palette(red, orange);

        &__text {
          background-color: palette(red, orange);
        }
      }
    }

    &.blue {
      .progress__wrap {
        border-color: palette(blue, light);

        &__text {
          background-color: palette(blue, light);
        }
      }
    }
  }
}
