.calendar {
  .page-content__row {
    display: flex;
    margin: $half-gutter 0;
  }

  &__event-date {
    @extend %financier-regular;
    color: palette(gray, medium);
    margin: 0 calc(#{$primary-gutter} * 1.5) 0 0;
  }

  &__event-info {
    p {
      @extend %typography-title-v-two;
      margin: 0;
    }

    h6 {
      @extend %typography-tandc-small;
      margin: 0;
    }
  }

  .page-content__container {
    padding: $half-gutter $primary-gutter;

    @media #{$mq-desktop-small-up} {
      padding: calc(#{$primary-gutter} * 1.5) calc(#{$primary-gutter} * 2.5);
    }
  }
}