include ../team-subject/team-subject
include ../close-button/close-button

mixin team()
  section.our-team__subject.our-team__subject--story
    .our-team__close-btn
      +close-button
    .our-team__subject-intro
      .our-team__subject-intro-container
        h1.our-team__subject-title Our Story
        span Discover More
      .our-team__feature-image
        img(src='images/our-story.jpg')
    +team-subject()(image='images/our-story-scroll.png')
      //- .subject__featured-fact
      //-   | NextEV NIO has competed in the FIA Formula E Championship since it was established in 2014 and secured the inaugural FIA Formula E drivers’ championship in July 2015 with Nelson Piquet Jr.
  section.our-team__subject.our-team__subject--nelson
    .our-team__close-btn
      +close-button
    .our-team__subject-intro
      .our-team__subject-intro-container
        h1.our-team__subject-title Nelson Piquet Jr
        span Driver Profile
      .our-team__social-icons.our-team__social-icons--hidden
        a(href='#')
          img(src='images/twitter.svg')
        a(href='#')
          img(src='images/instagram.svg')
      .our-team__feature-image
        img(src='images/nelson.jpg')
    +team-subject()(image='images/nelson-subject.png')
  section.our-team__subject.our-team__subject--oliver
    .our-team__close-btn
      +close-button
    .our-team__subject-intro
      .our-team__subject-intro-container
        h1.our-team__subject-title Oliver Turvey
        span Driver Profile
      .our-team__feature-image
        img(src='images/oliver.jpg')
  section.our-team__subject.our-team__subject--team
    .our-team__close-btn
      +close-button
    .our-team__subject-intro
      .our-team__subject-intro-container
        h1.our-team__subject-title Executive Team
        span Driving the Team
      .our-team__feature-image
        img(src='images/team.jpg')


