// team styles
.subject {
  backface-visibility: hidden;
  opacity: 0;
  position: absolute;

  top: 50%;
  transition: opacity 250ms ease-out 250ms;
  width: 100%;
  will-change: transform;

  @media #{$mq-desktop-small-up} {
    position: absolute;
  }

  &__featured-fact {
    background: palette(teal, base);
    height: 50%;
  }

  &__image-placeholder {
    width: 100%;
  }
}

@mixin subject-open {
  opacity: 1;
  transition: opacity 250ms ease-in 650ms;
}


.our-team {

  $root: &;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  contain: strict;

  &:hover {
    #{$root}__subject {
      &:not(#{$root}__subject--open) {
        #{$root}__feature-image {
          &::after {
            opacity: .8;
          }
        }        
      }
    }
  }

  &__close-btn {
    margin-left: auto;
    opacity: 0;
    position: sticky;
    right: 1rem;
    top: 10px;
    transform: scale(0);
    transition: transform 450ms ease-in-out, opacity 250ms ease-in-out;
    width: 40px;
    z-index: 2;

    svg {
      transform: scale(0) rotate(80deg);
      transition: transform 450ms ease-in-out 250ms;
    }
  }

  &__subject {
    backface-visibility: hidden;
    background: palette(grey, black);
    flex: 1 0 150px;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: flex 350ms ease-out 350ms;
    will-change: auto;

    &--open {
      flex: 0 0 calc(100vh - #{$mobile-header-height});
      overflow-y: scroll;

      @media #{$mq-desktop-small-up} {
        flex: 0 0 50%;
      }
      // We need to turn this off to allow fixed elements inside.
      will-change: auto;

      #{$root}__subject-intro {
        transition: none;
      }

      #{$root}__feature-image {
        transition: none;
      }

      #{$root}__subject-intro-container {
        transition: none;
      }

      #{$root}__feature-image {
        &::after {
          opacity: .4;
        }
      }

      #{$root}__social-icons {
        opacity: 1;
        transition: transform 250ms ease-in-out 850ms, opacity 250ms ease-in-out 1s;
      }

      #{$root}__close-btn {
        opacity: 1;
        transform: scale(1);
        transition: transform 250ms ease-in-out 850ms, opacity 250ms ease-in-out 650ms;

        svg {
          transform: scale(1) rotate(0deg);
          transition: transform 1s $timing-function-ease-out-expo 1.15s;
        }
      }

      .subject {
        @include subject-open;
      }
    }

    &:not(&--open) {
      cursor: pointer;

      #{$root}__feature-image {
        &::after {
          opacity: .4;
        }
      }

      &:hover {
        @media #{$mq-desktop-small-up} {
          #{$root}__subject-intro-container {

            > span {
              opacity: 1;
              transition: opacity 300ms $timing-function-ease-in-out-quad 150ms;

              &::after {
                opacity: 1;
                transform: scale(1);
              }
            }
          }

          #{$root}__subject-title {
            transform: translateY(-55px);
            transition: transform 1.5s $timing-function-ease-out-quar;
          }

          #{$root}__feature-image {
            > img {
              transform: scale(1.1);
              transition: transform 4s $timing-function-ease-in-out-sine;
            }

            &::after {
              opacity: .4 !important;
            }
          }
        }
      };
    }

    &--story {
      #{$root}__feature-image {
        img {
          object-position: 20%;
        }
      }
    }

    &--team {
      #{$root}__feature-image {
        img {
          object-position: 75%;
        }
      }
    }
  }

  &__subject-intro {
    align-items: center;
    backface-visibility: hidden;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 850ms $timing-function-fast-out-slow-in;
    width: 100%;
    z-index: 1;

    @media #{$mq-desktop-small-up} {
      position: absolute;
    }
  }

  &__subject-intro-container {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    opacity: 1;
    position: absolute;
    top: 0;
    transform-origin: 50% 0%;
    width: 100%;
    z-index: 4;

    > span {
      @extend %typography-header-prefix;
      opacity: 0;
      position: absolute;
      text-align: center;
      transition: opacity 150ms $timing-function-ease-in-out-quad;

      &::after {
        background: palette(blue, base);
        bottom: -.5rem;
        content: '';
        display: inline-block;
        height: 2px;
        left: 0;
        opacity: 0;
        position: absolute;
        transform: scale(0);
        transition: opacity 300ms $timing-function-ease-in-out-quad, transform 500ms $timing-function-ease-in-out-quad 150ms;
        width: 100%;
      }
    }
  }

  &__subject-title {
    @extend %typography-title;
    transform-origin: center top;

    max-width: 175px;
    opacity: 1;
    text-align: center;
    transition: transform 1s $timing-function-ease-out-quad;

    &--bigger {
      @extend %typography-header;
      font-size: 2.5rem;
      max-width: 100%;
    }
  }

  &__social-icons {
    align-items: center;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    margin: auto;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 99;

    @media #{$mq-desktop-small-up} {
      bottom: 2rem;
    }

    > a {
      display: flex;
      margin: 0 .5rem;
    }

    img {
      height: 25px;
      width: 25px;

      @media #{$mq-desktop-small-up} {
        height: 40px;
        width: 40px;
      }
    }

    &--hidden {
      pointer-events: none;
    }
  }

  &__feature-image {
    backface-visibility: hidden;
    height: 100%;
    transition: transform 850ms $timing-function-fast-out-slow-in;
    width: 100%;
    will-change: transform;
    z-index: 1;

    &::after {
      background: palette(gray, black);
      content: '';
      height: 100%;
      left: 0;
      opacity: .4;
      position: absolute;
      top: 0;
      transition: opacity 1s $timing-function-fast-out-slow-in;
      width: 100%;
    }

    > img {
      height: 100%;
      object-fit: cover;
      transition: transform 1.5s $timing-function-ease-in-out-sine;
      width: 100%;
    }
  }

  &--open-subject {
    #{$root}__subject {
      &:not(#{$root}__subject--open) {
        #{$root}__feature-image {
          &::after {
            opacity: .8;
          }
        }
      }
    }

  }

}
