extends ../_layouts/base
include ../_modules/header/header
include ../_modules/article-header/article-header
include ../_modules/article-hero/article-hero
include ../_modules/news/news
include ../_modules/square/square
include ../_modules/side-menu/side-menu
include ../_modules/footer/footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var headerType = 'condensed'

block content
  +header(headerType, baseUrl)
  main(role='main')
    article
      +article-header('Calendar', null, null, true )
      +article-hero('../images/insight/insight-banner-001.jpg')
      .calendar
        .page-content.page-content--menu-container
          +side-menu('Categories', baseUrl)
          .page-content__container
            .page-content__block.page-content__block--column
              .page-content__row
                h3.calendar__event-date 05/10/17
                .calendar__event-info
                  p #[b 00:50 GMT] 5th October 2017
                  h6 AUD Trade Balance (Australian Dollar) (AUG)
              .page-content__row
                h3.calendar__event-date 05/10/17
                .calendar__event-info
                  p #[b 00:50 GMT] 5th October 2017
                  h6 AUD Trade Balance (Australian Dollar) (AUG)  
              .page-content__row
                h3.calendar__event-date 05/10/17
                .calendar__event-info
                  p #[b 00:50 GMT] 5th October 2017
                  h6 AUD Trade Balance (Australian Dollar) (AUG) 
              .page-content__row
                h3.calendar__event-date 05/10/17
                .calendar__event-info
                  p #[b 00:50 GMT] 5th October 2017
                  h6 AUD Trade Balance (Australian Dollar) (AUG)  
              .page-content__row
                h3.calendar__event-date 05/10/17
                .calendar__event-info
                  p #[b 00:50 GMT] 5th October 2017
                  h6 AUD Trade Balance (Australian Dollar) (AUG)
              .page-content__row
                h3.calendar__event-date 05/10/17
                .calendar__event-info
                  p #[b 00:50 GMT] 5th October 2017
                  h6 AUD Trade Balance (Australian Dollar) (AUG)
              .page-content__row
                h3.calendar__event-date 05/10/17
                .calendar__event-info
                  p #[b 00:50 GMT] 5th October 2017
                  h6 AUD Trade Balance (Australian Dollar) (AUG)  
              .page-content__row
                h3.calendar__event-date 05/10/17
                .calendar__event-info
                  p #[b 00:50 GMT] 5th October 2017
                  h6 AUD Trade Balance (Australian Dollar) (AUG) 
              .page-content__row
                h3.calendar__event-date 05/10/17
                .calendar__event-info
                  p #[b 00:50 GMT] 5th October 2017
                  h6 AUD Trade Balance (Australian Dollar) (AUG)  
              .page-content__row
                h3.calendar__event-date 05/10/17
                .calendar__event-info
                  p #[b 00:50 GMT] 5th October 2017
                  h6 AUD Trade Balance (Australian Dollar) (AUG) 
  +footer(baseUrl)
    