// header styles
.main-header {
  position: fixed;
  top: 0;

  box-sizing: border-box;
  width: 100%;
  height: $condensed-header-height;
  margin: 0 auto;
  background-color: palette(gray, white);

  $root: &;
  justify-content: space-between;

  z-index: 7;

  &--expanded {
    background-color: transparent;

    #{$root}__logo-container {
      @media #{$mq-desktop-small-up} {
        width: calc(100px + #{$half-gutter * 2});
      }
    }

    @media #{$mq-desktop-small-up} {
      height: $expanded-header-height;
    }
  }

  &__login {
    display: none;
    @media #{$mq-desktop-small-up} {
      display: flex;
    } 
  }

  &__container {
    position: relative;

    display: flex;
    overflow: hidden;

    max-width: #{$thresh--large-2}px;
    height: 100%;
    margin: 0 auto;

    align-items: center;

    // Just above the menu.
    z-index: 11;

    @media #{$mq-desktop-small-up} {
      padding: rem(10) 2.5rem;
    }
  }

  &__burger {
    display: flex;

    margin-right: $primary-gutter;
    margin-left: auto;
    // @media #{$mq-desktop-small-up} {
    //   margin-right: $primary-gutter;
    // }
  }

  &__logo-container {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;

    display: flex;

    width: calc(135px + #{$half-gutter * 2});

    height: 100%;
    margin: auto;
    padding: $half-gutter;
  }

  &--unstick {
    @media #{$mq-desktop-small-up} {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
    }
  }

  &__logo-mushroom {

  }

  &__logo-text {
    display: none;

    @media #{$mq-desktop-small-up} {
      display: inline;
    }
  }

  &--sub-nav-open {
    transition: background 250ms cubic-bezier(.86, 0, .07, 1);

    background-color: rgba(256, 256, 256, 1);

    #{$root}__logo {
      path {
        fill: palette(gray, black);
      }
    }
    @media #{$mq-desktop-small-up} {
      background-color: palette(gray, black);

      #{$root}__logo {
        path {
          fill: palette(gray, white);
        }
      }
    }
  }
}
