// header styles
.main-header {
  $root: &;
  box-sizing: border-box;
  height: $mobile-header-height;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  width: 100%;

  @media #{$mq-desktop-small-up} {
    height: $header-height;
  }

  &__container {
    max-width: #{$thresh--large-2}px;
    align-items: center;
    display: flex;
    margin: 0 auto;
    position: relative;
    height: 100%;

    @media #{$mq-desktop-small-up} {
      padding: rem(10) 2.5rem;
    }
  }

  &__burger {
    display: flex;
    margin-left: auto;
  }

  &__logo-container {
    display: flex;
    height: 100%;
    // width: $header-logo-space;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: rem(10) 2.5rem;
  }

  &--unstick {
    @media #{$mq-desktop-small-up} {
      bottom: 0;
      left: 0;
      position: absolute;
      top: auto;
    }
  }

  &__logo-mushroom {

  }

  &__logo-text {
    display: none;

    @media #{$mq-desktop-small-up} {
      display: inline;
    }
  }

  &--sub-nav-open {
    background-color: rgba(256, 256, 256, 1);
    transition: background 250ms cubic-bezier(.86, 0, .07, 1);

    #{$root}__logo {
      path {
        fill: palette(gray, black);
      }
    }
    @media #{$mq-desktop-small-up} {
      background-color: palette(gray, black);

      #{$root}__logo {
        path {
          fill: palette(gray, white);
        }
      }
    }
  }

  @media #{$mq-desktop-small-up} {
    height: $header-height;
  }
}
