include ../logo/logo
include ../burger/burger
include ../menu/menu
include ../button/button

mixin header(spec)
  header.main-header
    .main-header__container
      +button(true)
        | Client Login
      .main-header__logo-container
        +logo()
      .main-header__burger
        +burger()(burgerId='main-burger' burgerClass='burger--side')
    +menu()

    if block
      block