mixin dropdown(baseUrl, options, values)
  select.dropdown(style!="background-image: url('" + baseUrl + "images/bp-prime-arrow.svg');")&attributes(attributes)
    option(value="" disabled selected) Select...
    if values
        each item, index in options
          option(value!=values[index]) #{item}
    else
        each item, index in options
          - value = options[index]
          option(value!=value) #{item}