mixin dropdown(options)
  select.dropdown()&attributes(attributes)
    option(value="" disabled selected) Select...
    each item, index in options
      - value = options[index]
      option(value!=value) #{item}