.dropdown {
  height: 45px;
  appearance: textfield;
  padding-left: $primary-gutter;
  color: palette(brown, base);
  position: relative;
  background-color: palette(gray, input);
  background-repeat: no-repeat;
  background-position: calc(100% - 13px) center;
  background-size: 16px;
  border-style: ridge;
  border-radius: 0;
  appearance: none;
  text-overflow: '';

  &.error {
  	border: 2px solid palette(red, error);
  }
}