mixin twitter-icon(url)
  a.twitter-icon(href!=url, title='Twitter' class='twitter-icon')
    svg(xmlns="http://www.w3.org/2000/svg", viewbox="0 0 400 400")
      path(d="M350 400H50a50 50 0 0 1-50-50V50A50 50 0 0 1 50 0h300a50 50 0 0 1 50 50v300a50 50 0 0 1-50 50zm-196.38-98.41c94.35 0 145.94-78.16 145.94-145.94q0-3.33-.15-6.63A104.36 104.36 0 0 0 325 122.47a102.42 102.42 0 0 1-29.46 8.07 51.52 51.52 0 0 0 22.56-28.37 102.91 102.91 0 0 1-32.57 12.45 51.34 51.34 0 0 0-87.41 46.77A145.62 145.62 0 0 1 92.4 107.81a51.31 51.31 0 0 0 15.88 68.47 50.87 50.87 0 0 1-23.23-6.42v.66a51.31 51.31 0 0 0 41.15 50.28 51.42 51.42 0 0 1-23.17.88 51.34 51.34 0 0 0 47.92 35.62 102.91 102.91 0 0 1-63.7 22 105.19 105.19 0 0 1-12.25-.75 145.17 145.17 0 0 0 78.62 23")