mixin link(spec)
  - spec = spec || {}
  - spec.class = spec.class || ''
  - spec.text = spec.text || 'Default Link'

  a.link(class=spec.class)&attributes(attributes)
    if block
      block
    else
      != spec.text
