include ../button/button

mixin fan-boost-open(spec)
  .fan-boost-open
    span.fan-boost-open__label Fanboost open
    span.fan-boost-open__question Have you voted&nbsp;yet?
    +button()(class='', href='http://fanboost.fiaformulae.com/' target='_blank')
      |Vote Now
