// fan-boost-open styles
.fan-boost-open {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)), url('../images/fanboast-open.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

  &__label {
    @extend %typography-header-prefix;
    display: block;
    text-align: center;
  }

  &__question {
    @extend %typography-header;
    text-align: center;
  }
}
