mixin car(spec)
  .car__intro
    h1
      | NextEV 
      span.car__title-prefix 700R 
    p.car__sub-text For the 2016/17 FIA Formula E Championship, NextEV NIO introduces it's all-new powertrain, the NextEV 700R
    +button()(class='rounded-button--left', href='#race-hub' pageLink='true')
      |Explore The 700R