// car styles

.car {
  background: linear-gradient(135deg, black 0%, transparent 65%), url('../images/700r.jpg');
  background-position: center;
  background-size: cover;
  flex-direction: row;
  justify-content: flex-start;

  &__intro {
    display: flex;
    flex-direction: column;
    // height: 100%;
    justify-content: center;
    margin-left: 5%;
    max-width: 455px;

    > h1 {
      @extend %typography-header;
    }
  }

  &__title-prefix {
    font-weight: normal;
  }

  &__leave-case {
    display: inline;
    text-transform: none;
  }

  &__sub-text {
    font-size: 1.5rem;
    font-weight: lighter;
    margin: .5rem 0;
  }

  &__features {
    background-color: $main-colour;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin-top: 0;

    @media #{$mq-desktop-small-up} {
      flex: 1 0 350px;
    }
  }
}

