.article-hero {
  z-index: 4;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: $max;
  height: 250px;
  margin: 0 auto;

  background-position: center;
  background-size: cover;
  position: relative;

  $root: &;
  justify-content: center;

  @media #{$mq-desktop-small-up} {
    padding: $primary-gutter calc(8.333333333% + #{$primary-gutter});
  }

  &__message,
  &__featured-button {
    padding: $half-gutter $primary-gutter;
  }

  &__message {
    max-width: 450px;

    @extend %typography-section-title;
  }

  .mapboxgl-canvas {
    top: 0;
    left: 0;
  }

  .marker {
    background: url('../images/logo.png') no-repeat center/100%;
    width: 25px;
    height: 25px;
    position: absolute;

    &:after {
      @extend %typography-small-section-text;
      content: '36 Whitefriars Street';
      position: absolute;
      white-space: nowrap;
      left: 30px;
      top: 3px;
    }
  }
}
