// header styles
.featured-videos {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: $half-gutter;

  &__posts {

    display: flex;
    flex-direction: column;
    width: 100%;

    @media #{$mq-desktop-small-up} {
      flex-direction: row;
    }

    > .square {
      flex: 1;
      margin-bottom: $primary-gutter;
      // margin-top: $primary-gutter;

      @media #{$mq-desktop-small-up} {
        margin-left: $primary-gutter;
        margin-bottom: 0; 

        &:first-child {
          margin-left: 0;
        }
      }


    }
  }

  &__bottom-link {
    display: inline-block;
    align-self: flex-start;
    margin: $primary-gutter 0;
    @extend %typography-small-section-link;
  }
}
