mixin diamond-list(listItems, styleModifers)
  - var modifers = ''
  if styleModifers
    each modifier in styleModifers
      - modifers = modifers + (' diamond-list--' + modifier) 
  ul(class='diamond-list' + modifers)
    each listItem in listItems
      if listItem.title
        li.diamond-list__item
          span.diamond-list__item--title!= listItem.title
          span!= listItem.text
      else
        li.diamond-list__item
          span!= listItem
//- style2
