.diamond-list {
  display: flex;
  flex-direction: column;

  margin: 0;
  margin: $primary-gutter 0;
  padding: 0;

  list-style: none;
  list-style-type: none;

  $root: &;

  &--open-diamonds {
    position: relative;

    #{$root}__item {
      position: relative;

      padding-left: calc(#{$primary-gutter} * 2.5);

      &::before {
        position: absolute;
        left: 0;

        width: 20px;
        height: 20px;

        transform: rotateZ(0);

        background-color: transparent;
        background-image: url('../images/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
      }
    }
  }

  &--style2 {
    position: relative;

    padding: calc(#{$primary-gutter} * 1.5) 0;

    #{$root}__item {
      position: relative;

      padding-left: calc(#{$primary-gutter} * 2.5);

      &::before {
        position: absolute;
        left: 0;

        width: 20px;
        height: 20px;

        transform: rotateZ(0);

        background-color: transparent;
        background-image: url('../images/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &--title-points {
    margin: 0;
    padding: 0;
    #{$root}__item {
      flex-direction: column;
      margin: 0;
      padding-top: $primary-gutter;
      padding-bottom: $primary-gutter;
      align-items: flex-start;
      justify-content: center;
      border-top: 1px solid palette(grey, border);

      &:last-child {
        border-bottom: 1px solid palette(grey, border);
      }
    }
  }

  &__item {
    display: flex;

    margin: $half-gutter 0;

    padding-left: $primary-gutter + $half-gutter;
    position: relative;

    align-items: center;
    @extend %typography-body;

    &--title {
      @extend %typography-side-nav-title;
    }

    &::before {
      box-sizing: content-box;
      width: 10px;
      height: 10px;
      margin: 0 $half-gutter;

      content: '';
      transform: rotateZ(-45deg);
      transform-origin: 0 100%;
      text-overflow: clip;

      color: rgba(0,0,0,1);
      border: none;
      background-color: palette(gold, process);

      position: absolute;
      left: 0;
      top: 7px;
    }
  }

  &__tab {
    position: relative;

    flex: 1;

    padding: $half-gutter;

    cursor: pointer;
    transition: border-width 250ms $timing-function-fast-out-slow-in, border-color 250ms $timing-function-fast-out-slow-in;
    text-align: center;

    border-bottom: 1px solid palette(gray, border);

    @extend %typography-side-nav-item;

    &::after {
      position: absolute;
      top: calc(100% + 2px);
      right: 0;
      left: 0;

      margin: 0 auto;

      content: '';
      transition: transform 500ms $timing-function-fast-out-slow-in, opacity 250ms $timing-function-fast-out-slow-in;
      transform: translateY(-2px);

      opacity: 0;

      @include triangle(1rem, palette(red, error), 'down');
    }

    &--active {
      border-bottom: 2px solid palette(red, error);

      @extend %typography-side-nav-title;
      &::after {
        transform: translateY(0);

        opacity: 1;        
      }
    }
  }

  &__content-wrapper {
    position: relative;

    height: 500px;

    transition: height 500ms $timing-function-fast-out-slow-in;
  }

  &__content {
    position: absolute;

    width: 100%;

    transition: opacity 250ms $timing-function-fast-out-slow-in;

    opacity: 0;
    background-color: white;

    &--active {
      opacity: 1;
    }
  }
}
