// header styles
.logo {
  display: inline-block;

  width: 100%;
  height: 100%;

  text-decoration: none;

  align-items: center;
  justify-content: center;
  $root: &;

  > svg {
    // width: 100%;
    // height: 100%;
    // display: block;
    @media #{$mq-desktop-small-up} {
      // height: 40px;
    }
  }

  &__diamond {
    display: inline-block;

    width: 30%;
    height: 100%;
    padding: #{$half-gutter / 2};
  }

  &__text {
    display: inline-block;

    width: 65%;
    height: 100%;
    padding: #{$half-gutter / 2};
  }

  &--expanded {
    #{$root}__diamond {
      display: block;

      width: 100%;
      height: 65%;
    }
    #{$root}__text {
      display: block;

      width: 100%;
      height: 35%;
    }
    // @media #{$mq-desktop-small-up} {
    //   display: none;
    // }
  }

  &--expanded {
    flex-direction: column;
  }
}
