include ../square/square
include ../diamond-list/diamond-list

mixin our-office(baseUrl)
  section.our-office
    .our-office__featured-office
      img(src= baseUrl + 'images/private/private-office-london.jpg')
    .our-office__details
      h1.our-office__title Our Offices
      h2.our-office__location London

