.button {
  display: inline-flex;

  padding: $half-gutter $double-gutter;

  border: 1px solid palette(gold, process);

  align-self: center;
  @extend %typography-rectangle-button;
  transition: $color-transistion, border 250ms $timing-function-ease-out-quint;

  &::after {}

  &:hover {
    border: 1px solid palette(gray, pale);
    // background: palette(gray, pale);
    @extend %typography-active-rectangle-button;
  }

  &.green {
    background-color: palette(green, light);
  }

  &.large {
    padding: 30px 35px;
  }
}
