.button {
  display: inline-flex;
  padding: $half-gutter $double-gutter;
  align-self: center;
  @extend %typography-rectangle-button;
  transition: $color-transistion, border 250ms $timing-function-ease-out-quint;

  &--trans-gold {
    border: 1px solid palette(gold, process);

    &:hover {
      border: 1px solid palette(gray, pale);
      // background: palette(gray, pale);
      @extend %typography-active-rectangle-button;
    }
  }

  &--green {
    background-color: palette(green, light);
    color: palette(gray, white);
  }

  &--dark-green {
    background-color: palette(green, dark);
    color: palette(gray, white);
  }

  &--medium {
    padding: 12px 35px;
    border: none;
  }

  &--large {
    padding: 30px 40px;
    border: none;
  }
}
