mixin button(link)
  if link
    a.button(class!=attributes.class, type!=attributes.type)
      span
        block
  else
    button.button(class!=attributes.class, type!=attributes.type)
      span
        block
