// burger styles
$burger-height: 3px;

.news {
  // position: relative;
  // bottom: 0;
  display: flex;
  flex-direction: column;
  flex: 1;

  background: palette(gray, white);
  // margin: auto $primary-gutter 0 $primary-gutter;
  // padding: $primary-gutter 0;
  // // width: calc(100% - #{$primary-gutter * 4});
  // width: calc(100% - #{$primary-gutter * 2});
  // list-style: none;
  // border-top: 1px solid palette(gray, warm);

  $root: &;

  &__featured-image {
    flex: 0 0 100%;

    width: 100%;
    height: 175px;

    @media #{$mq-desktop-small-up} {
      height: 325px;
    }

    > img {
      width: 100%;
      height: 100%;
      @include object-fit(cover, center);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid palette(gray, border);

    @media #{$mq-desktop-small-up} {
      padding: $half-gutter;
    }

    &--featured {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
    }
  }

  &__featured-item-details {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 0;

    @media #{$mq-desktop-small-up} {
      flex: 1;
      padding: $half-gutter;
    }
  }

  &__item-title {
    @extend %typography-title-v-one;
  }

  &__item-date {
    @extend %typography-title-v-two;
  }

  &__item-date,
  &__item-title {
    flex: 0;

    margin: $half-gutter 0;
  }

  &__item-description {
    flex: 0 0 100%;
    margin: 0;
    padding: $half-gutter 0;

    @extend %typography-body;

    @media #{$mq-desktop-small-up} {
      flex: 2;
      padding: #{$primary-gutter + $half-gutter} $half-gutter;
    }
  }

  &__view-all {
    margin: $primary-gutter 0;

    @media #{$mq-desktop-small-up} {
      margin: $primary-gutter;
    }

    @extend %typography-small-section-link;
    align-self: flex-start;
  }

}


