mixin news(spec)
  section.news

    .news__list
      //- https://stackoverflow.com/questions/19307443/semantic-html-of-an-articles-list
      article.news__item.news__item--featured
        .news__featured-image
          img(src='/images/news.jpg')
        .news__featured-item-details
          time.news__item-date(datetime="2017-04-29T19:00") 26 September 2017
          h1.news__item-title
            a EU and UK Clash Again over Brexit.
        p.news__item-description
          | British Prime Minister Theresa May’s speech held in Florence last Friday achieved the goal to capture the interest of Italian newspapers and public opinion but failed to...
      article.news__item
        time.news__item-date(datetime="2017-04-29T19:00") 26 September 2017
        h1.news__item-title
          a EU and UK Clash Again over Brexit.
      article.news__item
        time.news__item-date(datetime="2017-04-29T19:00") 26 September 2017
        h1.news__item-title
          a EU and UK Clash Again over Brexit.
    a.news__view-all View All News
