extends ../_layouts/base
include ../_modules/header/header
include ../_modules/footer/footer
include ../_modules/article-header/article-header
include ../_modules/article-hero/article-hero
include ../_modules/contactUsForm/contact-form

block config
  //- Correct base url pathing for this page 'condensed' or 'expanded'
  - var headerType = 'condensed'
  - var baseUrl = '../'

block content
  +header(headerType, baseUrl)
  +article-header('Brokers')
  +article-hero('../images/institutional/institutional-clients-thumbnail.jpg')
  .wrapper.institutional-sub-page 
    .institutional-sub-page__text-wrap
        p.institutional-sub-page__text-wrap__text
          |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        p.institutional-sub-page__text-wrap__text--gray
          |It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        p.institutional-sub-page__text-wrap__text--gray
          |It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    .institutional-sub-page__form
      +contactUsForm()
  +footer(baseUrl)