extends ../_layouts/base
include ../_modules/header/header
include ../_modules/article-header/article-header
include ../_modules/article-hero/article-hero
include ../_modules/news/news
include ../_modules/square/square
include ../_modules/side-menu/side-menu
include ../_modules/nav/nav
include ../_modules/footer/footer

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var headerType = 'condensed'

block content
  +header(headerType, baseUrl)
  main(role='main')
    article
      +article-header('Trading Tools', null, null, true )
      +article-hero('../images/insight/insight-banner-001.jpg')
      .trading-tools
        .page-content.page-content--menu-container
          +side-menu('Categories', baseUrl)
          .page-content__container
            .page-content__block.page-content__block--column
              p.product-detail__summary
                |BlackPearlFX is proud to offer a suite of multi-platform, multi-lingual, market-informed apps which help traders to optimise their ability to trade successfully. The apps give traders institutional quality tools over and abovethose provided in the MT4. This include advanced trade execution and management, decision assistance, sophisticated alarms and messaging broadcasting facilities, plus news and market data.
              p.product-detail__terms
                |To know more contact a member of our team or send a request to: support@blackpearlfx.com *Minimum deposit of $/€/£1,000
              .page-content__row
                .institutional__block.institutional__block--border
                  .trading-tools__tool-wrap
                    h6 Alarm & Messaging
                    h5 Alarm Manager
                    +button()(class="button--green button--medium") 
                      |Learn More
                  .trading-tools__image
                    img(src="../images/insight/Tools/Tools-Alarm-Manager-Thumbnail.jpg")
                .institutional__block.institutional__block--border
                  .trading-tools__tool-wrap
                    h6 Alarm & Messaging
                    h5 Excel RTD
                    +button()(class="button--green button--medium") 
                      |Learn More
                  .trading-tools__image
                    img(src="../images/insight/Tools/Tools-ExcelRTD-Thumbnail.jpg")
                .institutional__block.institutional__block--border
                  .trading-tools__tool-wrap
                    h6 News & Market
                    h5 Connect
                    +button()(class="button--green button--medium") 
                      |Learn More
                  .trading-tools__image
                    img(src="../images/insight/Tools/Tools-Connect-Thumbnail.jpg")
              .page-content__row
                .institutional__block.institutional__block--border
                  .trading-tools__tool-wrap
                    h6 News & Market
                    h5 Session Map
                    +button()(class="button--green button--medium") 
                      |Learn More
                  .trading-tools__image
                    img(src="../images/insight/Tools/Tools-Session-Map-Thumbnail.jpg")
                .institutional__block.institutional__block--border
                  .trading-tools__tool-wrap
                    h6 News & Market
                    h5 Sentiment Trader
                    +button()(class="button--green button--medium") 
                      |Learn More
                  .trading-tools__image
                    img(src="../images/insight/Tools/Tools-Sentiment-Trader-Thumbnail.jpg")
                .institutional__block.institutional__block--border
                  .trading-tools__tool-wrap
                    h6 Advanced Trading
                    h5 Correlation Matrix
                    +button()(class="button--green button--medium") 
                      |Learn More
                  .trading-tools__image
                    img(src="../images/insight/Tools/Tools-Correlation-Matrix-Thumbnail.jpg")
              .page-content__row
                .institutional__block.institutional__block--border
                  .trading-tools__tool-wrap
                    h6 Advanced Trading
                    h5 Market Manager
                    +button()(class="button--green button--medium") 
                      |Learn More
                  .trading-tools__image
                    img(src="../images/insight/Tools/Tools-Market-Manager-Thumbnail.jpg")
                .institutional__block.institutional__block--border
                  .trading-tools__tool-wrap
                    h6 Trade Execution
                    h5 Mini Terminal
                    +button()(class="button--green button--medium") 
                      |Learn More
                  .trading-tools__image
                    img(src="../images/insight/Tools/Tools-Mini-Terminal-Thumbnail.jpg")
                .institutional__block.institutional__block--border
                  .trading-tools__tool-wrap
                    h6 Trade Execution
                    h5 Trade Terminal
                    +button()(class="button--green button--medium") 
                      |Learn More
                  .trading-tools__image
                    img(src="../images/insight/Tools/Tools-Trade-Terminal-Thumbnail.jpg")
              .page-content__row
                .institutional__block.institutional__block--border
                  .trading-tools__tool-wrap
                    h6 More Tools
                    h5 Stealth Orders
                    +button()(class="button--green button--medium") 
                      |Learn More
                  .trading-tools__image
                    img(src="../images/insight/Tools/Tools-Stealth-Orders-Thumbnail.jpg")
                .institutional__block.institutional__block--border
                  .trading-tools__tool-wrap
                    h6 More Tools
                    h5 Tick Chart Trader
                    +button()(class="button--green button--medium") 
                      |Learn More
                  .trading-tools__image
                    img(src="../images/insight/Tools/Tools-Tick-Chart-Tracker-Thumbnail.jpg")
                .institutional__block.institutional__block--border
                  .trading-tools__tool-wrap
                    h6 More Tools
                    h5 Indicators
                    +button()(class="button--green button--medium") 
                      |Learn More
                  .trading-tools__image
                    img(src="../images/insight/Tools/Tools-Indicators-Thumbnail.jpg")
  +footer(baseUrl)
    