mixin close-button(spec)
  button.close-button.close-button--message(type='button')
    .close-button__message
      span Close
    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 15.642 15.642', width='512', height='512')
      path(fill-rule='evenodd', d='M8.88 7.82l6.54-6.54c.3-.3.3-.77 0-1.06-.3-.3-.76-.3-1.06 0L7.82 6.76 1.28.22C.98-.08.5-.08.22.22c-.3.3-.3.77 0 1.06l6.54 6.54-6.54 6.54c-.3.3-.3.77 0 1.06.15.15.34.22.53.22s.38-.07.53-.22l6.54-6.54 6.54 6.54c.15.15.34.22.53.22.18 0 .38-.07.52-.22.3-.3.3-.76 0-1.06L8.88 7.82z', fill='#FFF')
