// nav styles

.main-nav {
  position: absolute;
  left: 0;

  width: 100%;
  // padding: 0 $primary-gutter;

  $root: &;

  &__list {
    display: flex;
    flex-direction: column;

    // TODO: Get this to work with 'strict', aka with 'size'.
    contain: layout style paint;
    // contain: strict;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 ($primary-gutter + $half-gutter);

    list-style: none;

    align-items: flex-start;
    justify-content: flex-start;
  }

  &__item {
    z-index: 1;

    display: flex;
    flex-direction: column;

    width: 100%;
    // background: palette(brown, dark);

    cursor: pointer;
    // closing 
    transition: transform 500ms $timing-function-fast-out-slow-in 250ms;

    border-top: 1px solid palette(gray, warm);

    &:last-child {
      border-bottom: 1px solid palette(gray, warm);
    }

    &--sub-item {
      &:last-child {
        border-bottom: 0;
      }
    }

    &--sub-nav-item {
      #{$root}__link {
        &:after {
          position: relative;

          display: inline-block;

          width: .45em;
          height: .45em;
          margin-right: $primary-gutter;
          margin-left: auto;

          content: '';
          transform: rotate(-225deg);
          vertical-align: top;

          border-width: .05em .05em 0 0;
          border-style: solid;
          border-color: palette(gray, warm);

          align-self: center;
        }        
      }
    }

    &--active-sub-nav {
      // opening
      transition: transform 500ms $timing-function-fast-out-slow-in;
      #{$root}__link {
        span {
          transform: translateX(1rem);

          @extend %typography-open-nav-section;
        }
      }
      #{$root}__sub-nav {
        // opening
        transition: opacity 500ms $timing-function-fast-out-slow-in 500ms;

        opacity: 1;
      }
    }
  }

  &__sub-nav {
    margin: 0 -#{$primary-gutter + $half-gutter};
    padding: 0 #{$primary-gutter + $half-gutter};
    // closing

    transition: opacity 250ms $timing-function-fast-out-slow-in;

    opacity: 0;
    background-color: palette(brown, base);
  }

  &__link {
    position: relative;

    display: flex;

    box-sizing: border-box;
    padding: $half-gutter 0;

    cursor: pointer;
    text-decoration: none;

    span {
      @extend %typography-nav-section;
      transition: transform 325ms $timing-function-ease-out-quint, $color-transistion 125ms;
    }

  }

  &__sub-link {
    padding: $primary-gutter;

    span {
      @extend %typography-title-v-one;

    }
  }
}

