mixin nav()
  nav#main-nav.main-nav
    ul.main-nav__list
      li.main-nav__item
        a.active(title='Vision Car') Overview
      li.main-nav__item
        a(title='Experience') Institutional
      li.main-nav__item
        a(title='Insight') Insight
      li.main-nav__item
        a(title='Contact') Contact