mixin sub-nav(spec)
  .sub-nav
    .sub-nav__logo-space
    .sub-nav__title
      //- h1 Formula E
      .sub-nav__chevron
        span
        span
    nav.sub-nav__container
      ul.sub-nav__list
        li.sub-nav__item
          a(href='#race-hub', title='Race Hub', data-page-link) Race Hub
        li.sub-nav__item
          a(href='#our-team', title='Team', data-page-link) Team
        li.sub-nav__item
          a(href='#700r', title='700R', data-page-link) 700R
        li.sub-nav__item
          a(href='#championship', title='Championship', data-page-link) Championship
        li.sub-nav__item
          a(href='#gallery', title='Gallery', data-page-link) Gallery
        li.sub-nav__item
          a(href='#news', title='News', data-page-link) News
        li.sub-nav__item
          a(href='#partners', title='Partners', data-page-link) Partners
    .sub-nav__language