extends _layouts/base
include _modules/header/header
include _modules/footer/footer

block config
  //- Correct base url pathing for this page 'condensed' or 'expanded'
  - var headerType = 'expanded'
  - var baseUrl = config.baseUrl || './'

block content
  +header(headerType, baseUrl)
  .slider
    .slider-container
      .slide.slide--1
        .slide__text
          h2.slide__text__title First for wisdom, second to none.
          p.slide__text__subtitle BP Prime, opening the window to a world-class financial platform for the discerning trader.
      .slide.slide--2
        .slide__text
          h2.slide__text__title First for wisdom, second to none.
          p.slide__text__subtitle BP Prime, opening the window to a world-class financial platform for the discerning trader.
      .slide.slide--3
        .slide__text
          h2.slide__text__title First for wisdom, second to none.
          p.slide__text__subtitle BP Prime, opening the window to a world-class financial platform for the discerning trader.
    .swiper-pagination
    +footer(baseUrl)
