extends _layouts/base

block content
  .article
    .yeogurt-info
      h1 Welcome to BP Prime Good!?
      p.
        Take a look at the and start mixing up something awesome.
      p
        img.logo(src="images/yeogurt-swirl.png", width="75px")
  code.version v2.0.0
