input:not([type="radio"]) {
  height: 45px;
  background-color: palette(gray, input);
  padding-left: $primary-gutter;
  border-style: ridge;

  &.medium {
    width: calc(100% - (15% + 24px));
  }

  &.short {
    width: 15%;
    margin: 0 4px;
    padding-left: 0;
  }

  &.error {
    border-color: palette(red, error);
  }
}