.radiowrap {
  display: flex;
  @extend %typography-body;
  height: 45px;
  position: relative;

  &__label {
    line-height: 45px;
  }

  .before  {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    transform: rotate(45deg);
    visibility: visible;
    border: 1px solid palette(gold, metalic);
    top: 13px;
    pointer-events: none;
    left: 0;
  }

  &__radio {
    margin-right: $primary-gutter;
    opacity: 0;
    position: relative;
    margin: 10px 15px 0 -2px;
    width: 23px;
    height: 23px;

    &.error {
     + .before {
        border: 2px solid palette(red,error);
      }
    }

    &:checked {
      + .before:after {
    		content: '';
    		width: 10px;
    		height: 10px;
    		position: absolute;
    		border-radius: 10px;
    		background-color: palette(gold, metalic);
    		visibility: visible;
    		top: 3px;
    		left: 3px;
    	}   
    }
  }
}
