.radiowrap {
  display: flex;
  @extend %typography-body;
  height: 45px;

  &__label {
    line-height: 45px;
  }

  &__radio {
    margin-right: $primary-gutter;
    visibility: hidden;
    position: relative;
    margin-top: 13.5px;

    &:checked {
    	&:before {
    		content: '';
    		width: 10px;
    		height: 10px;
    		position: absolute;
    		border-radius: 10px;
    		background-color: palette(gold, metalic);
    		visibility: visible;
    		top: 4px;
    		left: 4px;
    	}
    }

    &:after {
    	content: '';
    	width: 18px;
    	height: 18px;
    	position: absolute;
    	border: 1px solid palette(gold, metalic);
    	transform: rotate(45deg);
    	visibility: visible;
    }
  }
}
